{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="thumbnail form">



        <form role="form" class="form-horizontal recovery-page" action="." method="post">
            {% csrf_token %}

            <h2>Recover password</h2>
            <div class="form-group">
                <label for="password" class="col-sm-4 control-label">New password</label>
                <div class="col-sm-6">
                    <input type="password" id="password" class="form-control" name="new_password1">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-4 control-label">New password confirmation</label>
                <div class="col-sm-6">
                    <input type="password" id="password1" class="form-control" name="new_password2">
                </div>

            </div>
            {% if form.errors %}
            <span>The two password fields didn't match</span>
            {% else %}
            {% endif %}
            <button type="submit" class="btn yellow">Save</button>
        </form>
    </div>
{% endblock %}