{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load url from future %}
{% block content %}
    <div class="thumbnail form">
        <form role="form" class="form-horizontal" action="/login/?next=/" method="post">
        {% csrf_token %}
            <h2>Sign in</h2>
            <div class="form-group">
                <label for="username" class="col-sm-4 control-label">Email</label>
                <div class="col-sm-6">
                    <input type="text" id="username" class="form-control" name = "email">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-4 control-label">Password</label>
                <div class="col-sm-6">
                    <input type="password" id="password" class="form-control" name="password">
                </div>
            </div>
            {% if error %}
            <span>Your username and password didn't match. Please try again</span>
            {% else %}
            {% endif %}
            <button type="submit" class="btn yellow">Sign in</button>
            <a href="{% url 'auth_password_reset' %}">Forgot password</a>
        </form>
    </div>
{% endblock %}