{#{% extends "registration/registration_base.html" %}#}
{#{% load i18n %}#}
{##}
{#{% block title %}{% trans "Reset password" %}{% endblock %}#}
{##}
{#{% block content %}#}
{#<p>#}
{#    {% blocktrans %}#}
{#    Forgot your password?  Enter your email in the form below and we'll send you instructions for creating a new one.#}
{#    {% endblocktrans %}#}
{#</p>#}
{#<form method="post" action="">#}
{#    {% csrf_token %}#}
{#    {{ form.as_p }}#}
{#    <input type="submit" value="{% trans 'Reset password' %}" />#}
{#</form>#}
{#{% endblock %}#}


{# This is used by django.contrib.auth #}
{##}
{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="thumbnail form">
        <form role="form" class="form-horizontal recovery-page" action="" method="post">
            {% csrf_token %}
            <h2>Recover password</h2>
            <div class="form-group">
                <label for="email" class="col-sm-4 control-label">Email</label>
                <div class="col-sm-6">
                    <input type="email" id="email" class="form-control" name="email">
                </div>
            </div>
                <button type="submit" class="btn grey">Recover</button>
        </form>
    </div>
{% endblock %}