.sales-list .table-calendar .table-scroll table td > p {
    width: 207px;
}

.sales-list .table-calendar .table-scroll table {
    overflow: overlay;
}

.form-group textarea.textarea-note
{
    height: 120px;
    width: 100%;
}