{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    {% include 'includes/menu.html' %}
<section>
    <div class="request-for-sale container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <h2 class="title">Order #21</h2>
                <h2 class="sub-title">Design</h2>
                <div class="col-lg-6">
                    <h5>Brief</h5>
                    <p></p>
                </div>
            </div>
            <div class="col-lg-12 request-footer">
                <div>
                    <p>Start date:</p>
                    <span>07.12.14 01:00 PM</span>
                </div>
                <div>
                    <p>Due date:</p>
                    <span>07.12.14 03:00 PM</span>
                </div>
            </div>
            <div class="col-lg-12">
                <span class="btn yellow">Finish Design</span>
            </div>
        </div>
    </div>

</section>
{% endblock %}