@charset "utf-8";
.activeColumDay {
  background-color: #f0f0f0;
}
th.castom-class {
  background-color: #cccccc !important;
}
.quoatation .description {
  overflow: auto;
}
.quoatation .description .dropdown-menu {
  z-index: 10;
  position: absolute;
  max-height: 180px;
  top: 35px;
  left: 0;
  overflow-y: scroll;
  margin-top: 0;
}
.quoatation .description textarea {
  vertical-align: top;
}
.for-filter {
  height: 30px;
  width: 74%;
  padding-left: 5px;
  margin-left: 1%;
  -webkit-box-shadow: inset 0px 2px 3px rgba(235, 235, 235, 0.75);
  -moz-box-shadow: inset 0px 2px 3px rgba(235, 235, 235, 0.75);
  box-shadow: inset 0px 2px 3px rgba(235, 235, 235, 0.75);
}
.for-filter .select2-container {
  height: 30px;
}
.for-filter .select2-container-multi .select2-choices {
  min-height: 30px;
  height: 30px !important;
}
.for-filter .select2-container-multi .select2-choices .select2-search-choice {
  margin-top: 3px;
  background-color: #cccccc;
  border: 1px solid #cccccc;
}
.for-filter .select2-container-multi .select2-choices .select2-search-choice div {
  color: #000000;
}
.for-filter .select2-container-multi .select2-search-choice-close:hover {
  border-bottom: none;
}
.select2-results .select2-highlighted {
  background: #cccccc;
  color: #000000;
}
.nav-tabs > li.active > a {
  -webkit-box-shadow: 0 -1px 0 #ff9900;
  -moz-box-shadow: 0 -1px 0 #ff9900;
  box-shadow: 0 -1px 0 #ff9900;
}
.table-part2 tr {
  height: 67px;
}
.table-part2 tr td {
  padding-top: 13px;
}
.table-part1 tr:last-child {
  height: 224px;
}
.right {
  float: right;
}
.customers .title {
  float: left;
}
.customers input {
  border: 1px solid #cccccc;
  height: 30px;
  padding-left: 10px;
  -webkit-box-shadow: inset 0px 2px 3px rgba(235, 235, 235, 0.75);
  -moz-box-shadow: inset 0px 2px 3px rgba(235, 235, 235, 0.75);
  box-shadow: inset 0px 2px 3px rgba(235, 235, 235, 0.75);
}
.customers .table-block {
  width: 100%;
  display: block;
}
.customers .customer-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.customers .customer-table th {
  border: none!important;
  font-family: 'Oswald', sans-serif;
}
.customers .customer-table th,
.customers .customer-table td {
  padding: 5px;
  text-align: left;
  font-size: 14px;
}
.customers .customer-table td:nth-child(1),
.customers .customer-table th:nth-child(1) {
  width: 163px;
}
.customers .customer-table td:nth-child(2),
.customers .customer-table th:nth-child(2) {
  width: 145px;
}
.customers .customer-table td:nth-child(3),
.customers .customer-table th:nth-child(3) {
  width: 15%;
}
.customers .customer-table td:nth-child(4),
.customers .customer-table th:nth-child(4) {
  width: 8%;
}
.customers .customer-table td:nth-child(5),
.customers .customer-table th:nth-child(5) {
  width: 10%;
}
.customers .customer-table td:nth-child(6),
.customers .customer-table th:nth-child(6) {
  width: 7%;
}
.customers .customer-table td:nth-child(7),
.customers .customer-table th:nth-child(7) {
  width: 8%;
}
.customers .customer-table td:nth-child(8),
.customers .customer-table th:nth-child(8) {
  width: 6%;
}
.customers .customer-table td:nth-child(9),
.customers .customer-table th:nth-child(9) {
  width: 29%;
}
.customers .customer-table td:nth-child(1) {
  background: #f5f5f5;
  color: #3399cc;
}
.customers .customer-table thead {
  background-color: #ececec;
  color: #333;
}
.customers .customer-table thead tr {
  display: block;
  position: relative;
  padding-right: 15px;
}
.customers .customer-table tbody {
  width: 100%;
  max-height: 666px;
  display: block;
  overflow: auto;
}
.customers .customer-table tbody td {
  color: #666666;
  font-weight: 300;
  word-break: break-all;
  vertical-align: middle;
}
.customers .customer-table tbody td.success {
  color: #336633;
}
.customers .customer-table tbody tr:last-child {
  border-bottom: 1px solid #ddd;
}
.customers .filter-block {
  background: #ececec;
  padding: 5px;
  border-bottom: 1px solid #ffffff;
}
.customers .filter-block > div {
  float: left;
}
.customers .filter-block .btn-filter {
  width: 8%;
}
.customers .filter-block .btn.grey {
  margin-left: 12%;
  width: 100%;
  min-width: 0;
  padding: 1px;
}
.customers .filter-block .search-filter {
  position: relative;
  width: 16%;
}
.customers .filter-block .search-filter input {
  width: 100%;
}
.customers .filter-block .search-filter span {
  color: #999999;
  font-size: 20px;
  position: absolute;
  right: 5px;
  top: 5px;
}
.active-orders.active-orders-department > table {
  width: 22%;
}
.active-orders.active-orders-department > div {
  width: 78%;
  position: relative;
  overflow: hidden;
}
.active-orders.active-orders-department > div table {
  width: 100%;
  padding: 0 28px;
  overflow: auto;
  display: inline-block;
}
.for-table-slide {
  position: relative;
}
.table-slide td {
  padding: 8px 0 !important;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: none;
}
.blue-cell {
  background-color: #88b8ea;
}
.next-table-cell {
  display: inline-block;
  background: #ccc;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 42px;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}
.next-table-cell .glyphicon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -8px;
}
.previous-table-cell {
  display: inline-block;
  background: #ccc;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 42px;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}
.previous-table-cell .glyphicon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -8px;
}
.note-block {
  width: 40%;
  height: 335px;
  float: left;
  margin-right: 40px;
  position: relative;
  top: -60px;
}
.note-block textarea {
  width: 100%;
  height: 302px;
  background: url("images/textarea.png");
  resize: none;
  line-height: 38px;
  padding: 5px 10px;
}
.note-block .offer-title {
  font-size: 22px;
  color: #f89420;
  font-family: 'Oswald', sans-serif;
}
.note-block .offer-title span {
  margin-right: 5px;
  font-size: 26px;
  position: relative;
  top: -3px;
}
.form-block {
  float: left;
  width: 40%;
  position: relative;
  top: -60px;
}
.form-block textarea {
  width: 83%;
  height: 80px;
  background: url("images/textarea.png");
  resize: none;
  line-height: 38px;
  padding: 5px 10px;
  overflow: hidden;
}
.form-block textarea.signature {
  height: 40px;
}
.form-block .offer-title {
  font-size: 22px;
  color: #f89420;
  font-family: 'Oswald', sans-serif;
}
.form-block .offer-title span {
  margin-right: 5px;
  font-size: 26px;
}
.form-block label {
  display: inline-block;
  width: 95px;
  font-size: 18px;
  color: #939598;
  text-align: right;
  vertical-align: top;
  padding-top: 15px;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
}
.foot-right p {
  font-size: 50px;
  color: #f89420;
  line-height: 67px;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
}
.foot-right p:first-child {
  font-size: 38px;
  line-height: 34px;
}
.offer-footer {
  margin-bottom: 20px;
}
.sales-person .sales-tittle {
  font-size: 22px;
  color: #f89420;
  display: block;
  float: left;
  font-family: 'Oswald', sans-serif;
}
.sales-person .sales-tittle span {
  margin-right: 5px;
  font-size: 28px;
}
.sales-person div {
  overflow: hidden;
  padding-left: 15px;
  padding-top: 7px;
}
.sales-person div p {
  color: #231f20;
  font-size: 20px;
  line-height: 17px;
  font-family: 'Roboto Condensed', sans-serif;
}
.sales-person div p:first-child {
  font-size: 22px;
}
.button-custom-card button {
  float: left !important;
  margin-right: 20px;
}
.form-custom-card textarea {
  width: 50% !important;
}
.form-add-person {
  height: 0;
  overflow: hidden;
  padding-top: 40px;
}
.form-add-person input {
  width: 100%;
}
.fl-left {
  float: left !important;
}
.table-offer td:nth-child(1) {
  width: 6%;
}
.table-offer td:nth-child(2) {
  width: 13%;
}
.table-offer td:nth-child(3) {
  width: 11%;
}
.table-offer td:nth-child(4) {
  width: 10%;
}
.table-offer td:nth-child(5) {
  width: 2%;
}
.table-offer td:nth-child(6) {
  width: 2%;
}
.table-offer td:nth-child(7) {
  width: 2%;
}
.table-offer td:nth-child(8) {
  width: 2%;
}
.table-offer td:nth-child(9) {
  width: 2%;
}
.table-offer td:nth-child(10) {
  width: 4%;
  text-align: center;
}
.table-offer td:nth-child(11) {
  width: 6%;
  text-align: center;
}
.table-offer td:nth-child(12) {
  width: 6%;
  text-align: center;
}
.table-offer td:nth-child(13) {
  width: 6%;
  text-align: center;
}
.table-offer td:nth-child(14) {
  width: 7%;
}
.all-td-green hr {
  background: #9dd088;
  height: 100%;
}
.all-td-green hr:last-child {
  display: none;
}
.all-td-yellow hr {
  background: #ffcc00;
  height: 100%;
}
.all-td-yellow hr:last-child {
  display: none;
}
.all-td-blue hr {
  background: #88b8ea;
  height: 100%;
}
.all-td-blue hr:last-child {
  display: none;
}
.left-td-green hr {
  background: #9dd088;
  height: 100%;
}
.left-td-green hr:last-child {
  display: none;
}
.left-td-yellow hr {
  background: #ffcc00;
  height: 100%;
}
.left-td-yellow hr:last-child {
  display: none;
}
.left-td-blue hr {
  background: #88b8ea;
  height: 100%;
}
.left-td-blue hr:last-child {
  display: none;
}
.right-td-green hr {
  background: #9dd088;
  height: 100%;
  float: right;
}
.right-td-green hr:last-child {
  display: none;
}
.right-td-yellow hr {
  background: #ffcc00;
  height: 100%;
  float: right;
}
.right-td-yellow hr:last-child {
  display: none;
}
.right-td-blue hr {
  background: #88b8ea;
  height: 100%;
  float: right;
}
.right-td-blue hr:last-child {
  display: none;
}
.two-td-green hr {
  background: #9dd088;
  height: 100%;
  float: right;
}
.two-td-green hr:first-child {
  float: left;
}
.two-td-yellow hr {
  background: #ffcc00;
  height: 100%;
  float: right;
}
.two-td-yellow hr:first-child {
  float: left;
}
.two-td-blue hr {
  background: #88b8ea;
  height: 100%;
  float: right;
}
.two-td-blue hr:first-child {
  float: left;
}
.red-cell {
  background: red;
}
.red-cell a {
  color: #fff;
}
.w50 {
  width: 53%;
}
.dis-n {
  display: none;
  overflow: visible !important;
  min-height: 170px !important;
}
.dis-n .dropdown {
  width: 270px;
}
.dis-n .dropdown input {
  height: 100%;
  width: 100%;
  background: none;
}
.dis-n .dropdown ul {
  width: 100%;
}
.dis-n .dropdown.open ul {
  display: block;
  position: relative;
}
.dis-n p {
  font: 300 30px 'Oswald', sans-serif;
  text-align: center;
}
.dis-n .btn-send-email {
  margin: 10px 0 10px -50px;
  display: block;
  width: 40px;
  position: absolute;
  left: 50%;
  top: 100px;
}
.dis-n.modal-open-print p,
.dis-n.modal-open-print-custom p {
  font-size: 26px;
  margin-bottom: 20px;
}
.dis-n.modal-open-print div,
.dis-n.modal-open-print-custom div {
  text-align: center;
}
.dis-n.modal-open-print a:hover,
.dis-n.modal-open-print-custom a:hover {
  text-decoration: none;
  border-bottom: none;
}
.selects {
  font: 300 14px 'Roboto Condensed', sans-serif;
  padding: 6px 15px;
  color: #666666;
  width: 100%;
  text-align: left;
  position: relative;
  background: transparent!important;
  border: 1px solid #ccc;
  cursor: pointer;
}
.input-select input {
  background: none !important;
  cursor: pointer !important;
}
.over {
  overflow: hidden;
}
.custom-add-clone {
  display: none;
}
.line-for-person {
  margin-top: 30px;
  border-top: 1px solid #cccccc;
  padding-top: 20px;
}
.list-people li {
  list-style: decimal;
}
.input-error {
  border-color: red !important;
}
.all-td div {
  position: relative;
  height: 100%;
  width: 100%;
}
.all-td div hr {
  position: absolute;
  height: 100%;
}
.all-td div hr.blue-td {
  background: #88b8ea;
}
.all-td div hr.green-td {
  background: #9dd088;
}
.all-td div hr.yellow-td {
  background: #ffcc00;
}
.no-shadow-input {
  box-shadow: none !important;
  cursor: pointer !important;
}
.no-shadow-input input {
  cursor: pointer !important;
}
.over-height {
  height: 19px;
  overflow: hidden;
  word-break: break-all;
}
html[xmlns*=""]:root .add-request form .input-group-2 input,
_::-moz-svg-foreign-content,
:root .add-request form .input-group-2 input {
  visibility: hidden;
  width: 0;
  display: inline-block;
}
_::-moz-svg-foreign-content,
:root .add-request form .input-group-2 label,
html[xmlns*=""]:root .add-request form .input-group-2 label {
  margin-left: -2px;
}
