@charset "utf-8";
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
b,
strong {
  font-weight: bold;
}
img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
li {
  display: list-item;
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
sub,
sup,
small {
  font-size: 75%;
}
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
svg {
  overflow: hidden;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
}
a:hover {
  text-decoration: none;
}
.clear:after,
.clear:before {
  clear: both;
  display: block;
  zoom: 1;
  content: '';
}
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot');
  src: url('fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('fonts/icomoon.woff') format('woff'), url('fonts/icomoon.ttf') format('truetype'), url('fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}
a {
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  color: #3399cc;
  border-bottom: 1px solid transparent;
  text-decoration: none;
}
a:hover {
  border-bottom-color: #3399cc;
  color: #3399cc;
}
input.form-control {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  width: 200px;
}
textarea.form-control {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  width: 400px;
}
label.control-label {
  padding-right: 0;
  font-size: 16px;
  color: #666666;
  font-weight: 300;
}
header {
  padding: 30px 0 20px;
}
header div .col-lg-1 {
  margin-top: 30px;
  padding-right: 0;
  text-align: right;
}
header div .col-lg-11 {
  padding-left: 0;
}
.add-request h3 {
  color: #666666;
  font-weight: 300;
  float: left;
  width: 115px;
  margin: 5px 0 0;
}
.add-request label.radio-inline {
  margin-right: 15px;
  color: #666666;
  font-weight: 300;
}
.add-request .customer-form {
  margin-bottom: 40px;
}
.add-request .customer-form .hidden-block {
  margin-left: 115px;
}
.add-request .customer-form input.form-control {
  width: 400px;
}
.add-request .customer-form .column {
  width: 400px;
  float: left;
  margin-right: 60px;
}
.add-request .customer-form .column:last-child {
  margin-right: 0;
}
.add-request .customer-form textarea {
  width: 860px;
}
.add-request form .active {
  display: block !important;
}
.add-request form textarea {
  height: 140px;
  resize: none;
}
.add-request form .col-lg-6 {
  padding: 0;
}
.add-request form > div .col-lg-12 {
  padding: 0;
}
.add-request form > div .col-lg-12 .col-lg-6 {
  padding: 0 10px;
}
.add-request form > div .hidden-block {
  display: none;
}
.add-request form > div .form-group ul {
  width: 100%;
}
.add-request form > div .form-group ul a {
  width: 100%;
}
.add-request form > div a {
  display: inline-block;
  float: right;
  font-size: 14px;
}
.add-request form .input-group-2 {
  margin-bottom: 15px;
}
.add-request form .input-group-2 label {
  width: 35px;
  height: 32px;
  border-right: 1px solid #ccc;
  margin: 0 1px;
  z-index: 5;
  background-color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  padding-top: 8px;
}
.add-request form .input-group-2 span {
  z-index: 6;
  position: absolute;
  margin: 5px 0px 0px 15px;
  font-size: 14px;
}
.add-request form .input-group-2 p {
  width: 100%;
  height: 34px;
  border: 1px solid #ccc;
}
.add-request form .input-group-2 input {
  display: none;
}
.add-request form #customerForm > .col-lg-12 {
  z-index: 1;
}
.add-request form .button {
  margin: 55px 0 55px 85px;
  float: none;
}
.add-request form .button button {
  width: 107px;
  margin: 5px 0 0 32px;
}
.add-request .attachments {
  width: 515px;
}
.add-request .attachments .attach {
  margin-left: 115px;
  width: 400px;
}
.btn-icon-add {
  padding-left: 30px;
  position: relative;
}
.btn-icon-add:before {
  content: '\e61c';
  position: absolute;
  font-family: 'icomoon';
  font-size: 13px;
  top: 6px;
  left: 6px;
}
.btn-icon-ok {
  padding-left: 30px;
  position: relative;
}
.btn-icon-ok:before {
  content: '\2a';
  position: absolute;
  font-family: 'icomoon';
  font-size: 13px;
  top: 8px;
  left: 9px;
}
.btn-icon-cancel {
  padding-left: 30px;
  position: relative;
}
.btn-icon-cancel:before {
  content: '\e604';
  position: absolute;
  font-family: 'icomoon';
  font-size: 16px;
  top: 5px;
  left: 6px;
}
.btn {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  min-width: 100px;
  color: #000;
  font: 300 18px 'Oswald', sans-serif;
}
.btn:hover {
  opacity: 1;
}
.btn.yellow {
  background-color: #ff9900;
}
.btn.yellow:hover {
  background: #fbaf3b;
}
.btn.grey {
  background-color: #dedede;
}
.btn.grey:hover {
  background: #ebebeb;
  border: 1px solid #ebebeb;
}
.btn.plus-btn {
  border-bottom: none;
}
.btn.plus-btn i {
  font: 40px/9px Arial, sans-serif;
  margin-right: 10px;
  position: relative;
  top: 6px;
}
.container-fluid {
  padding: 0 30px;
  min-width: 1330px;
}
.dropdown {
  width: 400px;
}
.dropdown .btn {
  font: 300 14px 'Roboto Condensed', sans-serif;
  padding: 6px 15px;
  color: #666666;
  width: 100%;
  text-align: left;
  position: relative;
  background: transparent!important;
}
.dropdown .btn i {
  font-style: normal;
}
.dropdown .btn span {
  position: absolute;
  right: 5px;
  top: 50%;
}
.dropdown .dropdown-menu {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  padding: 0;
}
.dropdown .dropdown-menu li a {
  border: none;
  padding: 5px 20px;
  font-size: 14px;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.dropdown .dropdown-menu li a:hover {
  color: #fff;
  background: #fbaf3b;
}
.form {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 474px;
  margin: -150px 0 0 -236px;
  text-align: center;
  padding: 30px 0 40px;
}
.form h2 {
  margin-bottom: 20px;
  color: #ff9900;
  font: 30px 'Oswald', sans-serif;
  text-transform: uppercase;
}
.form span {
  color: #ff3300;
  font-size: 16px;
  display: block;
  margin: 0 0 20px 32px;
}
.form a {
  margin: 10px 0 0 15px;
  text-decoration: none;
  float: left;
}
.form i:before {
  font-size: 50px;
}
.form p {
  margin: 10px 0 0 0;
  font-size: 16px;
  color: #666666;
}
.form button {
  float: left;
  margin-left: 165px;
}
.icon-mail {
  background: url('images/mail.png') no-repeat;
  width: 78px;
  height: 58px;
  display: block;
  margin: 0 auto 25px;
}
.icon-cancel {
  background: url('images/error.png') no-repeat;
  width: 64px;
  height: 64px;
  display: block;
  margin: 0 auto 25px;
}
.icon-logo {
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  width: 180px;
  height: 68px;
  float: left;
  background: #fff;
  padding-right: 30px;
  border: none;
}
.icon-logo:hover {
  opacity: 0.7;
}
.icon-logo img {
  max-width: 100%;
  max-height: 100%;
}
.nav-tabs {
  border-bottom: 1px solid #ff9900;
  height: 49px;
}
.nav-tabs li {
  margin: 0;
}
.nav-tabs li.active a {
  border-color: #ff9900;
  border-bottom: none;
  font-weight: 400;
  padding-bottom: 12px;
  color: #ff9900;
  cursor: pointer!important;
}
.nav-tabs li.active a:hover {
  border-color: #fbaf3b;
  background: #fbaf3b;
  border-bottom: none;
  color: #fff;
}
.nav-tabs li a {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  font: 300 18px 'Oswald', sans-serif;
  color: #666666;
  border: 1px solid transparent;
  margin: 0;
}
.nav-tabs li a:hover {
  border-color: #fbaf3b;
  background: #fbaf3b;
  color: #fff;
}
.nav-tabs li:last-child {
  float: right;
}
.order-manager h2 {
  font-size: 18px;
}
.order-manager p {
  font-size: 13px;
}
.order-manager a {
  float: right;
  position: relative;
  padding-right: 30px;
}
.recovery-page input.form-control {
  width: 240px;
}
.recovery-page label.control-label {
  width: 145px;
}
.recovery-page .btn {
  margin-left: 145px;
}
.recovery-page h2 {
  margin-left: 70px;
}
.request-for-sale p {
  font-size: 14px;
}
.request-for-sale .col-lg-2 {
  padding-left: 60px;
}
.request-for-sale .col-lg-2 ol li a {
  color: #3399cc;
}
.request-for-sale .col-lg-6 {
  padding: 0;
  margin-bottom: 45px;
}
.sales-list .sub-title {
  border-bottom: none;
}
.sales-list .table-calendar h3 {
  width: 100%;
}
.sales-list .table-calendar > table {
  width: 80px;
  background: #f0f0f0;
  float: left;
}
.sales-list .table-calendar > table tr td {
  font-weight: 300;
  font-size: 14px;
  color: #666666;
  height: 35px;
  text-align: center;
}
.sales-list .table-calendar > table th {
  background: #ececec;
  border-bottom: none;
  height: 42px;
}
.sales-list .table-calendar .table-scroll {
  padding-left: 80px;
}
.sales-list .table-calendar .table-scroll table {
  width: 100%;
  overflow: auto;
  display: block;
}
.sales-list .table-calendar .table-scroll table th {
  height: 42px;
  background: #ececec;
  font: 14px 'Oswald', sans-serif;
  text-align: center;
  border-bottom: none;
}
.sales-list .table-calendar .table-scroll table tr td:first-child {
  border-left: none;
}
th.sales-list .table-calendar .table-scroll table tr:first-child {
  border-left: none;
}
.sales-list .table-calendar .table-scroll table th,
.sales-list .table-calendar .table-scroll table td {
  width: 87px !important;
}
.sales-list .table-calendar .table-scroll table td {
  height: 37px;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  padding: 0 1px 0 0;
}
.sales-list .table-calendar .table-scroll table td:hover {
  background-color: #f0f0f0;
}
.sales-list .table-calendar .table-scroll table td > p {
  width: 87px;
  height: 100%;
  display: block;
  font-weight: 300;
  background: #f0f0f0;
  color: #666666;
  padding: 0 10px;
  line-height: 36px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.sales-list .table-calendar .table-scroll table td > p:hover {
  background: #ffd787;
}
.sales-list .table-calendar .table-scroll table td > p:empty {
  background: transparent;
}
.sales-list .table-calendar .table-scroll table td > p:hover + .tip {
  opacity: 1;
  visibility: visible;
}
.sales-list .table-calendar .table-scroll .tip {
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 70px;
  top: 40px;
  opacity: 0;
  visibility: hidden;
  width: 138px;
  padding: 10px;
  font-size: 14px;
  background: #fff;
  z-index: 10;
}
.sales-list .table-calendar .table-scroll .tip p {
  font-weight: 300;
}
.sales-list .table-calendar .table-scroll .tip .tootle {
  font-weight: 400;
}
.sales-list .table-calendar .table-scroll .tip span {
  margin-right: 10px;
}
.sales-list .table-calendar .table-scroll .tip span:last-child {
  margin-right: 0;
}
.sales-table {
  width: 820px;
}
.sales-table .sub-title {
  float: left;
  margin: 8px 0 15px;
}
.sales-table .btn {
  float: right;
}
.scrollable-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.scrollable-table th {
  border: none!important;
  font-family: 'Oswald', sans-serif;
}
.scrollable-table th,
.scrollable-table td {
  padding: 5px;
  text-align: left;
  font-size: 14px;
}
.scrollable-table td:nth-child(1),
.scrollable-table th:nth-child(1) {
  min-width: 105px;
}
.scrollable-table td:nth-child(2),
.scrollable-table th:nth-child(2) {
  min-width: 405px;
}
.scrollable-table td:nth-child(3),
.scrollable-table th:nth-child(3) {
  width: 150px;
}
.scrollable-table td:nth-child(4),
.scrollable-table th:nth-child(4) {
  width: 160px;
}
.scrollable-table thead {
  background-color: #ececec;
  color: #333;
}
.scrollable-table thead tr {
  display: block;
  position: relative;
  padding-right: 15px;
}
.scrollable-table tbody {
  width: 100%;
  max-height: 333px;
  display: block;
  overflow: auto;
}
.scrollable-table tbody td {
  color: #666666;
  font-weight: 300;
}
.scrollable-table tbody td.success {
  color: #336633;
}
.scrollable-table tbody tr:last-child {
  border-bottom: 1px solid #ddd;
}
.sub-title {
  color: #666666;
  border-bottom: 1px solid #ccc;
  font: 20px 'Oswald', sans-serif;
  margin-bottom: 20px;
}
.sub_title {
  color: #666666;
  font: 20px 'Oswald', sans-serif;
  margin-bottom: 20px;
}
.title {
  color: #ff9900;
  font: 30px 'Oswald', sans-serif;
  margin-bottom: 20px;
}
.quoatation h2 span {
  padding-left: 20px;
  margin-left: 20px;
  font-size: 20px;
  color: #666666;
}
.quoatation td {
  padding: 5px 10px;
  font-size: 13px;
}
.quoatation .plus-btn {
  float: right;
}
.quoatation form > div > .form-group > label {
  margin: 10px 0;
  border-bottom: none;
}
.quoatation form > .col-lg-12 {
  padding: 0;
}
.quoatation .description {
  max-width: 68%;
  display: block;
  float: left;
}
.quoatation .description .dropdown-menu {
  margin-top: 5px;
}
.quoatation .description .dropdown-menu li {
  border: none;
  padding: 5px 20px;
  font-size: 14px;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
}
.quoatation .description td:first-child {
  min-width: 225px;
}
.quoatation .description thead td {
  white-space: nowrap;
  height: 42px;
  background: #ececec;
  font: 14px 'Oswald', sans-serif;
  text-align: center;
}
.quoatation .form-group textarea {
  width: 820px;
  height: 120px;
  resize: none;
  float: left;
  margin-right: 15px;
}
.quoatation input {
  border: 1px solid #ccc;
  height: 34px;
  padding: 5px;
  color: #333;
  width: 50px;
}
.quoatation .price {
  width: 32%;
  margin-bottom: 30px;
}
.quoatation .price thead td {
  height: 42px;
  background: #ececec;
  font: 14px 'Oswald', sans-serif;
  text-align: center;
}
.quoatation .price tbody td:last-child {
  background-color: #f5f5f5;
  font-weight: 600;
}
.quoatation .note .note-form {
  margin-bottom: 5px;
}
.quoatation .note .form-group label {
  display: inline-block;
  float: left;
  width: 90px;
  margin-bottom: 0;
  margin-right: 30px;
  border-bottom: none;
}
.quoatation .note .form-group span {
  font: 20px 'Oswald', sans-serif;
}
.quoatation textarea {
  border: 1px solid #cccccc;
  width: 205px;
}
h5 {
  font-size: 16px;
  color: #666666;
  margin-bottom: 10px;
}
.big {
  width: 200px;
  height: 28px;
}
.big .dropdown-menu {
  width: 200px;
}
.middle {
  width: 120px;
  height: 28px;
}
.middle .dropdown-menu {
  min-width: 120px;
}
.small {
  width: 100px;
  height: 28px;
}
.small .dropdown-menu {
  min-width: 100px;
}
textarea {
  padding: 10px;
}
.request-footer {
  margin-bottom: 20px;
}
.request-footer p {
  margin: 0;
  float: left;
  width: 110px;
  padding: 0;
  font-size: 14px;
  color: #ccc;
}
.request-footer span {
  color: #333;
  line-height: 21px;
  font-size: 14px;
  float: none;
  display: inline-block;
}
p {
  padding-bottom: 5px;
}
.active-orders {
  border-bottom: 1px solid #ccc;
}
.active-orders > table {
  width: 33%;
  float: left;
}
.active-orders > table td {
  height: 39px;
  font-size: 14px;
  box-sizing: border-box;
}
.active-orders > table thead tr {
  height: 42px;
  background-color: #ececec;
}
.active-orders > table thead tr th {
  border: none;
  font: 14px 'Oswald', sans-serif;
  white-space: nowrap;
  border-bottom: 2px solid #fff;
}
.active-orders > table tbody tr:last-child td {
  border-bottom: 1px solid #ccc;
}
.active-orders > table tbody tr:first-child td {
  border-top: none;
}
.active-orders > div {
  width: 67%;
  overflow: hidden;
  position: relative;
}
.active-orders > div table {
  width: 100%;
  padding: 0 28px;
  overflow: auto;
  display: inline-block;
  margin-bottom: 0;
}
.active-orders > div table thead tr {
  background-color: #ececec;
}
.active-orders > div table thead tr:nth-child(2) th {
  font-size: 11px;
  border-color: #ececec;
}
.active-orders > div table thead tr:nth-child(2) th:nth-child(7n+8) {
  border-left: 2px solid #ffffff;
}
.active-orders > div table thead tr:nth-child(2) th:nth-child(1) {
  border-left: 2px solid #ffffff;
}
.active-orders > div table thead tr:first-child th {
  min-width: 350px;
  border-color: #ffffff;
  border-left: 2px solid #ffffff;
  font: 14px 'Oswald', sans-serif;
  white-space: nowrap;
  padding-top: 1px;
}
.active-orders > div table thead tr th {
  padding: 0 1px 1px;
  text-align: center;
}
.active-orders > div table tbody td {
  height: 39px;
  font-size: 14px;
}
.active-orders > div table tbody tr:last-child td {
  border-bottom: 1px solid #ccc;
}
.active-sales form > div:last-child {
  width: 33%;
}
.active-sales .scrollable-table td:nth-child(2),
.active-sales .scrollable-table th:nth-child(2) {
  min-width: 105px;
}
.active-sales .scrollable-table td:nth-child(1),
.active-sales .scrollable-table th:nth-child(1) {
  min-width: 70px;
}
.active-sales .scrollable-table td:nth-child(3),
.active-sales .scrollable-table th:nth-child(3) {
  min-width: 100px;
}
.active-sales .scrollable-table td:nth-child(3),
.active-sales .scrollable-table th:nth-child(3) {
  min-width: 100px;
}
.active-sales .scrollable-table tbody {
  border-bottom: none;
}
.yellow-cell {
  background-color: #fbaf3b;
}
.grey-light-cell {
  background-color: #ececec;
}
.green-light-cell {
  background-color: #dff0d8;
}
.blue-light-cell {
  background-color: #cbe8f7;
}
.yellow-light-cell {
  background-color: #ffeda6;
}
.active-date {
  background-color: #ccc;
}
.active-date-cell {
  background-color: #f5f5f5;
}
.order-office p {
  font-size: 14px;
}
.order-office .order-description {
  margin-bottom: 10px;
}
.order-office .order-description .sub_title > a {
  font-size: 16px;
  margin-left: 20px;
  font-weight: 300;
}
.order-office .order-description .btn {
  float: right;
  margin-top: -15px;
}
.order-office .order-description > p {
  width: 15%;
  float: left;
  font-size: 16px;
}
.order-office .order-description > div {
  overflow: hidden;
}
.order-office textarea {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  font-size: 14px;
}
.order-office table {
  font-size: 14px;
}
.order-office table td {
  position: relative;
}
.order-office table td input {
  width: 100%;
  height: 28px;
  border: 1px solid #ccc;
  padding: 0 25px 0 8px;
}
.order-office table td .glyphicon {
  position: absolute;
  top: 13px;
  right: 12px;
  font-size: 18px;
  pointer-events: none;
}
.order-office table tr:last-child {
  border-bottom: 1px solid #ccc;
}
.order-office table thead {
  background-color: #ececec;
  color: #333;
  font-family: 'Oswald', sans-serif;
}
.order-office table tbody td {
  line-height: 28px;
}
.order-office .grey {
  margin-left: 5px;
}
.order-office .request-footer label {
  font-weight: 300;
}
.order-office .request-footer span a {
  margin-left: 5px;
}
.order-office .request-footer input {
  height: 13px;
}
.order-office form {
  position: relative;
}
.order-office form hr {
  width: 100%;
  background-color: #ccc;
  height: 1px;
  position: absolute;
  top: 97px;
}
.order-office form > .btn {
  margin-bottom: 20px;
}
.order-office form .description-block > .col-lg-8 {
  float: none;
  padding: 0;
  width: 63.3%;
  margin-bottom: 10px;
}
.order-office form > .col-lg-8 {
  float: none;
  padding: 0;
  width: 63.3%;
}
.order-office form div > .sub-title span {
  font-size: 16px;
  cursor: pointer;
}
.order-office ol li {
  margin-bottom: 5px;
}
.full-footer {
  margin-top: 10px;
}
.full-footer div:first-child {
  float: left;
  width: 43%;
}
.full-footer p {
  width: 110px;
  font-size: 18px;
}
.full-footer span {
  font-size: 18px;
}
.customer-card .hidden-block {
  margin-left: 0 !important;
}
.customer-card table thead tr {
  background-color: #ececec;
}
.customer-card table thead tr th {
  color: #333;
  font: 14px 'Oswald', sans-serif;
}
.customer-card table tbody tr:last-child {
  border-bottom: 1px solid #ccc;
}
.customer-card table tbody tr td {
  font-size: 14px;
}
.customer-card table tbody tr td:first-child {
  color: #666666;
}
.customer-card table tbody tr td a {
  float: none;
}
.customer-card textarea {
  width: 51.5% !important;
  height: 90% !important;
}
.customer-card .column {
  width: 23.4% !important;
}
.customer-card .column input {
  width: 100% !important;
}
.customer-card .column .dropdown {
  width: 100% !important;
}
.customer-card .column .dropdown .btn {
  width: 100% !important;
}
.customer-card .hidden-block > .dropdown {
  width: 23.4% !important;
}
.customer-card .table-block {
  width: 51.5%;
}
.customer-card .yellow {
  float: right;
}
.manager .col-lg-6 {
  margin-bottom: 30px;
  width: 65%;
}
.manager .request-footer {
  margin-bottom: 40px;
}
.manager .request-footer p {
  font-size: 16px;
}
.manager .request-footer span {
  font-size: 16px;
  font-weight: 600;
}
.order-planning td:nth-child(3) input {
  border: none !important;
  padding: 0;
}
.order-planning th:nth-child(3) {
  width: 135px !important;
}
.offer table {
  margin-bottom: 0;
  font-size: 14px;
}
.offer table th {
  background-color: #dddddd;
  color: #333;
  font: 14px 'Oswald', sans-serif;
}
.offer table th:last-child {
  font-weight: 600;
  background-color: #d0d1d3;
}
.offer table td {
  color: #666666;
  font-size: 14px;
}
.offer table td:last-child {
  font-weight: 600;
  background-color: #ebeced;
  color: #333333;
}
.offer table tr:last-child {
  border-bottom: 1px solid #ccc;
}
.offer .table-footer {
  float: right;
  text-align: right;
  width: 20%;
}
.offer .table-footer span {
  width: 44.3%;
  height: 37px;
  background-color: #ff9900;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  padding: 8px;
}
.offer .table-footer p {
  float: left;
  display: inline-block;
  width: 52%;
  height: 37px;
  font: 13px 'Oswald', sans-serif;
  line-height: 37px;
}
.offer .table-footer div:first-child {
  height: 37px;
}
.offer .table-footer div:first-child span {
  background-color: #ebeced;
}
.offer-header {
  border-top: 1px solid #ff9900;
  border-bottom: 1px solid #ff9900;
  padding: 10px 0;
}
.offer-header div {
  display: inline-block;
}
.offer-header div a {
  color: #ff9900;
  font-size: 16px;
}
.offer-header div a:hover {
  border-bottom-color: #ff9900;
}
.offer-header div p {
  font-size: 16px;
  padding: 0;
}
.offer-header div:first-child {
  float: left;
  margin-right: 40px;
}
.offer-header div:last-child p span {
  padding: 0 10px 0 0;
  color: #ff9900;
}
.offer-footer > div:first-child {
  width: 50%;
  float: left;
}
.offer-footer > div:last-child {
  width: 50%;
  overflow: hidden;
  text-align: right;
}
.ui-widget-content {
  background: #dff0d8;
}
.ui-draggable .ui-dialog-titlebar {
  background: none;
  border: none;
  padding: 0;
  color: #000000;
}
.ui-draggable .ui-dialog-titlebar:hover {
  opacity: 0.8;
}
.ui-dialog .ui-dialog-titlebar-close {
  position: relative;
  right: 0px;
  top: 50%;
  width: 20px;
  margin: -10px 0 0 0;
  padding: 1px;
  height: 20px;
  background: none;
  font: normal normal normal 14px/1 FontAwesome;
}
.sales-table {
  max-width: 1538px;
  position: relative;
  min-width: 1330px;
  width: 100%;
}
.sales-table .previous-table-cell {
  left: 79px;
}
