{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="thumbnail form">
        <h2>Oops!..</h2>
        <i class="icon-cancel"></i>
        <p>This link is broken. It’s not available any more.</p>
    </div>
{% endblock %}