{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="thumbnail form">
        <form role="form" class="form-horizontal recovery-page" action="">
            <h2>Recover password</h2>
            <div class="form-group">
                <label for="password" class="col-sm-4 control-label">New password</label>
                <div class="col-sm-6">
                    <input type="password" id="password" class="form-control">
                </div>
            </div>
            <button type="submit" class="btn yellow">Save</button>
        </form>
    </div>
{% endblock %}