{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="thumbnail form">
        <form role="form" class="form-horizontal recovery-page" action="/recovery-mail">
            <h2>Recover password</h2>
            <div class="form-group">
                <label for="email" class="col-sm-4 control-label">Email</label>
                <div class="col-sm-6">
                    <input type="text" id="email" class="form-control">
                </div>
            </div>

            <button type="submit" class="btn grey">Recover</button>
            <a href="{% url 'auth_password_change' %}">{% trans "Change password" %}</a>)
        </form>
    </div>
{% endblock %}