{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="thumbnail form">
        <h2>Almost done!</h2>
        <i class="icon-mail"></i>
        <p>
            Recover link for your password is on your e-mail.
            <br />
            Maybe, you’ll need to look for it in your spam folder.
        </p>
    </div>
{% endblock %}