{% extends 'base.html' %}
{% load staticfiles %}
{% load future %}

{% block content %}
    {% include 'includes/menu.html' %}
<section>
    <div class="container-fluid active-sales">

        <div class="row">
            <div class="col-lg-12">

                <form role="form">
                    <h2 class="title">Installation</h2>
                    <div class="clear active-orders">
                        <h2 class="sub_title">Active Orders</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#Order</th>
                                    <th>Customer</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders_list %}
                                <tr>
                                    <td><a href="/installation/{{order.id}}/">#{{ order.id }}</a></td>
                                    <td>{{ order.company.name }}</td>


                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="">
                            <span class="next-table-cell js-next-cell"><span class="glyphicon glyphicon-chevron-right next-week"></span></span>
                            <span class="previous-table-cell js-previous"><span class="glyphicon glyphicon-chevron-left prev-week"></span></span>

                            <table class="table table-slide">
                                <thead>
                                    <tr>
                                        {% for elem in days %}
                                        <th colspan="7">{{ elem|date:"d.m.Y" }}</th>
                                       {% endfor %}
                                    </tr>

                                    <tr>
                                        {% for day in days %}
                                            {% for hour in hours %}
                                                <th>{{ hour|time:"h:i A" }}</th>
                                            {% endfor %}
                                        {% endfor %}


                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in orders_report %}
                                    <tr>
                                     {% for elem in order %}
                                         {% if elem.position == "left" %}
                                         <td {%if elem.class == "graphics" %}class="left-td-green"{% endif %}{%if elem.class == "product" %}class="left-td-blue"{% endif %}{%if elem.class == "installation" %}class="left-td-yellow"{% endif %}><hr style="width: {{ elem.width }}%"/><hr style="width: {{ elem.width }}%"/></td>

                                         {% endif %}
                                         {% if elem.position == "center" %}
                                        <td {%if elem.class == "graphics" %}class="all-td-green"{% endif %}{%if elem.class == "product" %}class="all-td-blue"{% endif %}{%if elem.class == "installation" %}class="all-td-yellow"{% endif %}><hr style="width: 100%"/><hr style="width: 100%"/></td>
                                        {% endif %}
                                         {% if elem.position == "right" %}
                                          <td {%if elem.class == "graphics" %}class="right-td-green"{% endif %}{%if elem.class == "product" %}class="right-td-blue"{% endif %}{%if elem.class == "installation" %}class="right-td-yellow"{% endif %}><hr style="width: {{ elem.width }}%"/><hr style="width: {{ elem.width }}%"/></td>

                                         {% endif %}
                                     {% endfor %}

{#                                        <td class="all-td-green"><hr style="width: 100%"/><hr style="width: 100%"/></td>#}
{#                                        <td class="all-td-yellow"><hr style="width: 100%"/><hr style="width: 100%"/></td>#}
{#                                        <td class="all-td-blue"><hr style="width: 100%"/><hr style="width: 100%"/></td>#}
{#                                        <td class="left-td-green"><hr style="width: 50%"/><hr style="width: 50%"/></td>#}
{#                                        <td class="left-td-yellow"><hr style="width: 50%"/><hr style="width: 50%"/></td>#}
{#                                        <td class="left-td-blue"><hr style="width: 50%"/><hr style="width: 50%"/></td>#}
{#                                        <td><hr style="width: 100%"/></td>#}
{##}
{#                                        <td class="right-td-green"><hr style="width: 50%"/><hr style="width: 50%"/></td>#}
{#                                        <td class="right-td-yellow"><hr style="width: 50%"/><hr style="width: 50%"/></td>#}
{#                                        <td class="right-td-blue"><hr style="width: 50%"/><hr style="width: 50%"/></td>#}
{#                                        <td><hr style="width: 100%"/></td>#}
{#                                        <td class="two-td-green"><hr style="width: 25%"/><hr style="width: 25%"/></td>#}
{#                                        <td class="two-td-yellow"><hr style="width: 25%"/><hr style="width: 25%"/></td>#}
{#                                        <td class="two-td-blue"><hr style="width: 25%"/><hr style="width: 25%"/></td>#}
{##}
{#                                        <td class="active-date-cell"><hr style="width: 100%"/></td>#}
{#                                        <td class="active-date-cell"><hr style="width: 100%"/></td>#}
{#                                        <td class="active-date-cell"><hr style="width: 100%"/></td>#}
{#                                        <td class="active-date-cell"><hr style="width: 100%"/></td>#}
{#                                        <td class="active-date-cell"><hr style="width: 100%"/></td>#}
{#                                        <td class="active-date-cell"><hr style="width: 100%"/></td>#}
{#                                        <td class="active-date-cell"><hr style="width: 100%"/></td>#}
{##}
{#                                        <td><hr style="width: 100%"/></td>#}
{#                                        <td><hr style="width: 100%"/></td>#}
{#                                        <td><hr style="width: 100%"/></td>#}
{#                                        <td><hr style="width: 100%"/></td>#}
{#                                        <td><hr style="width: 100%"/></td>#}
{#                                        <td><hr style="width: 100%"/></td>#}
{#                                        <td><hr style="width: 100%"/></td>#}
{##}
{#                                        <td><hr style="width: 100%"/></td>#}
{#                                        <td><hr style="width: 100%"/></td>#}
{#                                        <td><hr style="width: 100%"/></td>#}
{#                                        <td><hr style="width: 100%"/></td>#}
{#                                        <td><hr style="width: 100%"/></td>#}
{#                                        <td><hr style="width: 100%"/></td>#}
{#                                        <td><hr style="width: 100%"/></td>#}

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="clear">


                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}