.activeColumDay {
  background-color: #f0f0f0;
}
th.castom-class{
  background-color: #cccccc !important;
}
.quoatation{
  .description{
    overflow:auto;
    .dropdown-menu {
      z-index: 10;
      position: absolute;
      max-height: 180px;
      top: 35px;
      left: 0;
      overflow-y: scroll;
      margin-top: 0;
    }
    textarea{vertical-align: top;}
  }
}
.for-filter{
  height: 30px;
  width: 74%;
  padding-left: 5px;
  margin-left: 1%;
  -webkit-box-shadow: inset 0px 2px 3px  rgba(235, 235, 235, 0.75);
  -moz-box-shadow:    inset 0px 2px 3px  rgba(235, 235, 235, 0.75);
  box-shadow:         inset 0px 2px 3px  rgba(235, 235, 235, 0.75);
  .select2-container{height: 30px;}
  .select2-container-multi .select2-choices{
    min-height: 30px;
    height: 30px !important;
  }
  .select2-container-multi .select2-choices .select2-search-choice{
    margin-top: 3px;
    background-color: #cccccc;
    border: 1px solid #cccccc;
    div{color: #000000;}
  }
  .select2-container-multi .select2-search-choice-close:hover{border-bottom: none;}
}
.select2-results .select2-highlighted{
  background: #cccccc;
  color: #000000;
}
.nav-tabs>li.active>a{
  -webkit-box-shadow: 0 -1px 0 #ff9900;
  -moz-box-shadow: 0 -1px 0 #ff9900;
  box-shadow: 0 -1px 0 #ff9900;
}
.table-part2{
  tr{
    height: 67px;
    td{padding-top: 13px;}
  }
}
.table-part1 tr:last-child{height: 224px;}
.right{float: right;}
.customers{
  .title{float: left;}
  input{
    border: 1px solid #cccccc;
    height: 30px;
    padding-left: 10px;
    -webkit-box-shadow: inset 0px 2px 3px  rgba(235, 235, 235, 0.75);
    -moz-box-shadow:    inset 0px 2px 3px  rgba(235, 235, 235, 0.75);
    box-shadow:         inset 0px 2px 3px  rgba(235, 235, 235, 0.75);
  }
  .table-block{
    width: 100%;
    display: block;
  }
  .customer-table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    th {
      border: none!important;
      font-family: @font-oswald;
    }
    th, td {
      padding: 5px;
      text-align: left;
      font-size: 14px;
    }
    td:nth-child(1), th:nth-child(1) { width: 163px; }
    td:nth-child(2), th:nth-child(2) { width: 145px; }
    td:nth-child(3), th:nth-child(3) { width: 15%; }
    td:nth-child(4), th:nth-child(4) { width:  8%; }
    td:nth-child(5), th:nth-child(5) { width:  10%; }
    td:nth-child(6), th:nth-child(6) { width:  7%; }
    td:nth-child(7), th:nth-child(7) { width:  8%; }
    td:nth-child(8), th:nth-child(8) { width:  6%; }
    td:nth-child(9), th:nth-child(9) { width:  29%; }
    td:nth-child(1){
      background: #f5f5f5;
      color: #3399cc;
    }
    thead {
      background-color: #ececec;
      color: #333;
      tr {
        display: block;
        position: relative;
        padding-right: 15px;
      }
    }
    tbody {
      width: 100%;
      max-height: 666px;
      display: block;
      overflow: auto;
      //      border-bottom: 1px solid #ddd;
      td{
        color: @grey;
        font-weight: 300;
        word-break: break-all;
        vertical-align: middle;
        &.success{color: #336633;}
      }
      tr:last-child{ border-bottom: 1px solid #ddd;}
    }
  }
  .filter-block{
    background: #ececec;
    padding: 5px;
    border-bottom: 1px solid #ffffff;
    &>div{
      float: left;
    }
    .btn-filter{
      width: 8%;
    }
    .btn.grey{
      margin-left: 12%;
      width: 100%;
      min-width: 0;
      padding: 1px;
    }
    .search-filter{
      position: relative;
      width: 16%;
      input{
        width: 100%;
      }
      span{
        color: #999999;
        font-size: 20px;
        position: absolute;
        right: 5px;
        top: 5px;
      }
    }
  }
}
.active-orders.active-orders-department{
  &>table{
    width: 22%;
  }
  &>div{
    width: 78%;
    position: relative;
    overflow: hidden;
    table{
      width: 100%;
      padding: 0 28px;
      overflow: auto;
      display: inline-block;
    }
  }
}
.for-table-slide{
  position: relative;
}
.table-slide{
  td{
    padding: 8px 0 !important;
  }
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
  background: none;
}
.blue-cell{background-color: #88b8ea;}
.next-table-cell{
  display: inline-block;
  background: #ccc;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 42px;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  .glyphicon{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -8px;
  }
}
.previous-table-cell{
  display: inline-block;
  background: #ccc;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 42px;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  .glyphicon{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -8px;
  }
}
.note-block{
  width: 40%;
  height: 335px;
  float: left;
  margin-right: 40px;
  position: relative;
  top: -60px;
  textarea{
    width: 100%;
    height: 302px;
    background: url("images/textarea.png");
    resize: none;
    line-height: 38px;
    padding: 5px 10px;
  }
  .offer-title{
    font-size: 22px;
    color: #f89420;
    font-family: @font-oswald;
    span{
      margin-right: 5px;
      font-size: 26px;
      position: relative;
      top: -3px;
    }
  }
}
.form-block{
  float: left;
  width: 40%;
  position: relative;
  top: -60px;
  textarea{
    width: 83%;
    height: 80px;
    background: url("images/textarea.png");
    resize: none;
    line-height: 38px;
    padding: 5px 10px;
    overflow: hidden;
    &.signature{
      height: 40px;
    }
  }
  .offer-title{
    font-size: 22px;
    color: #f89420;
    font-family: @font-oswald;
    span{
      margin-right: 5px;
      font-size: 26px;
    }
  }
  label{
    display: inline-block;
    width: 95px;
    font-size: 18px;
    color: #939598;
    text-align: right;
    vertical-align: top;
    padding-top: 15px;
    font-family: @font-oswald;
    font-weight: normal;
  }
}
.foot-right{
  p{
    font-size: 50px;
    color: #f89420;
    line-height: 67px;
    font-family: @font-oswald;
    font-weight: normal;
    &:first-child{
      font-size: 38px;
      line-height: 34px;
    }
  }
}
.offer-footer{
  margin-bottom: 20px;
}
.sales-person{
  .sales-tittle{
    font-size: 22px;
    color: #f89420;
    display: block;
    float: left;
    font-family: @font-oswald;
    span{
      margin-right: 5px;
      font-size: 28px;
    }
  }
  div{
    overflow: hidden;
    padding-left: 15px;
    padding-top: 7px;
    p{
      color: #231f20;
      font-size: 20px;
      line-height: 17px;
      font-family: @font;
      &:first-child{
        font-size: 22px;
      }
    }
  }
}
.button-custom-card{
  button{
    float: left !important;
    margin-right: 20px;
  }
}
.form-custom-card{
  textarea{
    width: 50% !important;
  }
}
.form-add-person{
  height: 0;
  overflow: hidden;
  padding-top: 40px;
  input{
    width: 100%;
  }
}
.fl-left{
  float: left !important;
}

.table-offer{
  td:nth-child(1){width: 6%;}
  td:nth-child(2){width: 13%;}
  td:nth-child(3){width: 11%;}
  td:nth-child(4){width: 10%;}
  td:nth-child(5){width: 2%;}
  td:nth-child(6){width: 2%;}
  td:nth-child(7){width: 2%;}
  td:nth-child(8){width: 2%;}
  td:nth-child(9){width: 2%;}
  td:nth-child(10){width: 4%; text-align: center;}
  td:nth-child(11){width: 6%; text-align: center;}
  td:nth-child(12){width: 6%; text-align: center;}
  td:nth-child(13){width: 6%; text-align: center;}
  td:nth-child(14){width: 7%;}
}


.all-td-green{
  hr{
    background: #9dd088;
    height: 100%;
  }
  hr:last-child{
    display: none;
  }
}
.all-td-yellow{
  hr{
    background: #ffcc00;
    height: 100%;
  }
  hr:last-child{
    display: none;
  }
}
.all-td-blue{
  hr{
    background: #88b8ea;
    height: 100%;
  }
  hr:last-child{
    display: none;
  }
}
.left-td-green{
  hr{
    background: #9dd088;
    height: 100%;
  }
  hr:last-child{
    display: none;
  }
}
.left-td-yellow{
  hr{
    background: #ffcc00;
    height: 100%;
  }
  hr:last-child{
    display: none;
  }
}
.left-td-blue{
  hr{
    background: #88b8ea;
    height: 100%;
  }
  hr:last-child{
    display: none;
  }
}
.right-td-green{
  hr{
    background: #9dd088;
    height: 100%;
    float: right;
  }
  hr:last-child{
    display: none;
  }
}
.right-td-yellow{
  hr{
    background: #ffcc00;
    height: 100%;
    float: right;
  }
  hr:last-child{
    display: none;
  }
}
.right-td-blue{
  hr{
    background: #88b8ea;
    height: 100%;
    float: right;
  }
  hr:last-child{
    display: none;
  }
}
.two-td-green{
  hr{
    background: #9dd088;
    height: 100%;
    float: right;
  }
  hr:first-child{
    float: left;
  }
}
.two-td-yellow{
  hr{
    background: #ffcc00;
    height: 100%;
    float: right;
  }
  hr:first-child{
    float: left;
  }
}
.two-td-blue{
  hr{
    background: #88b8ea;
    height: 100%;
    float: right;
  }
  hr:first-child{
    float: left;
  }
}

.red-cell{
  background: red;
  a{
    color: #fff;
  }
}
.w50{
  width: 53%;
}
.dis-n{
  display: none;
  overflow: visible !important;
  min-height: 170px !important;
  .dropdown {
    width: 270px;
    input{
      height: 100%;
      width: 100%;
      background: none;
    }
    ul{
      width: 100%;
    }
    &.open ul{
      display: block;
      position: relative;
    }
  }
  p{
    font: 300 30px 'Oswald', sans-serif;
    text-align: center;
  }
  .btn-send-email{
    margin: 10px 0 10px -50px;
    display: block;
    width: 40px;
    position: absolute;
    left: 50%;
    top: 100px;
  }
  &.modal-open-print, &.modal-open-print-custom{
    p{
      font-size: 26px;
      margin-bottom: 20px;
    }
    div{
      text-align: center;
    }
    a:hover{
      text-decoration: none;
      border-bottom: none;
    }
  }
}
.selects{
  font: 300 14px 'Roboto Condensed', sans-serif;
  padding: 6px 15px;
  color: #666666;
  width: 100%;
  text-align: left;
  position: relative;
  background: transparent!important;
  border: 1px solid #ccc;
  cursor: pointer;
}
.input-select{
  input{
    background: none !important;
    cursor: pointer !important;
  }
  //  pointer-events: none;
}
.over{
  overflow: hidden;
}
.custom-add-clone{
  display: none;
}

.line-for-person{
  margin-top: 30px;
  border-top: 1px solid #cccccc;
  padding-top: 20px;
}

.list-people{
  li{
    list-style: decimal;
  }
}
.input-error {
  border-color:red !important;
}
.all-td{
  div{
    position: relative;
    height: 100%;
    width: 100%;
    hr{
      position: absolute;
      height: 100%;
      &.blue-td{
        background: #88b8ea;
      }
      &.green-td{
        background: #9dd088;
      }
      &.yellow-td{
        background: #ffcc00;
      }
    }
  }
}
.no-shadow-input{
  box-shadow: none !important;
  cursor: pointer !important;
  input{
    cursor: pointer !important;
  }
}
.over-height{
  height: 19px;
  overflow: hidden;
  word-break: break-all;
}
html[xmlns*=""]:root .add-request form .input-group-2 input,
_::-moz-svg-foreign-content, :root .add-request form .input-group-2 input{
  visibility: hidden;
  width: 0;
  display: inline-block;
}
//_::-moz-svg-foreign-content, :root .add-request form .input-group-2 input  {
//  visibility: hidden;
//  width: 0;
//  display: inline-block;
//}
_::-moz-svg-foreign-content, :root .add-request form .input-group-2 label,
html[xmlns*=""]:root .add-request form .input-group-2 label{
  margin-left: -2px;
}