{% load staticfiles %}
{% load future %}
<header>
    <div class="container-fluid">
        <a href="/" class="icon-logo"><img src="{% static 'css/images/logo.png' %}" alt="" /></a>
        <ul class="nav nav-tabs">
            {%if request.user.group.name in management_menu%}
                <li {% if menu_item == "management" %}class="active"{%endif%}><a href="{% url "management" %}">Management</a></li>
            {%endif%}
            {%if request.user.group.name in sales_menu%}
                <li {% if menu_item == "sales" %}class="active"{%endif%}><a href="{% url "sales" %}">Sales</a></li>
            {%endif%}

            {%if request.user.group.name in graphics_menu%}
                <li {% if menu_item == "graphics" %}class="active"{%endif%}><a href="{% url "graphics-list" %}">Graphics</a></li>
            {%endif%}
            {%if request.user.group.name in production_menu%}
                <li {% if menu_item == "production" %}class="active"{%endif%}><a href="{% url "production-list" %}">Production</a></li>
            {%endif%}
            {%if request.user.group.name in installation_menu%}
                <li {% if menu_item == "installation" %}class="active"{%endif%}><a href="{% url "installation-list" %}">Installation</a></li>
            {%endif%}
            {%if request.user.group.name in archive_menu%}
                <li {% if menu_item == "archive" %}class="active"{%endif%}><a href="{% url "archive" %}">Customer Database</a></li>
            {%endif%}
            <li><a href="/logout/">Log out</a></li>
        </ul>
    </div>
</header>