{% extends 'base.html' %}
{% load future %}
{% load staticfiles %}

{% block content %}
    {% include 'includes/menu.html' %}

    <section>
        <div class="container-fluid customers">
            <div class="row">
                <div class="col-lg-12 clear">
                    <h2 class="title">Customers</h2>
                    <a href="{% url "new-costumer" %}" class="btn yellow plus-btn right"><i>+</i>Add Customer</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="filter-block clear">
                        <div class="search-filter">
                            <input type="text" placeholder="Name" class="for-search"/>
                            <span class="glyphicon glyphicon-search"></span>
                        </div>
                        <div class="for-filter">
                            <select multiple style="width:100%" class="select2">
                                    {% for elem in category_list %}
                                    <option value="{{ elem.id }}">{{ elem.title }}</option>
                                    {% endfor %}
                            </select>
                        </div>
                        <div class="btn-filter">
                            <a href="#" class="btn grey js-filter">Filter</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 table-block">
                    <table class="customer-table table-scroll table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Category </th>
                            <th>Website</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Post Code</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        {%for elem in customers_list%}
                            <tr class="filtr">
                                <td><a href="/archive/customer-card/{{elem.id}}/">{{elem.name}}</a></td>
                                <td class="costumer-category">{{elem.category.title}}</td>
                                <td><a href="http://{{elem.website}}">{{elem.website}}</a></td>
                                <td>{{elem.phone}}</td>
                                <td>{{elem.address}}</td>
                                <td>{{elem.city}}</td>
                                <td>{{elem.state}}</td>
                                <td>{{elem.post_code}}</td>
                                <td>{{elem.description}} </td>
                            </tr>
                        {%endfor%}
                                           </tbody>
                    </table>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(function() {
            pageSetUp();
        });
    </script>
{% endblock %}