
{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    {% include 'includes/menu.html' %}

    <section>
        <div class="add-request container-fluid customer-card">
            <div class="row">
                <div class="col-lg-12">
                    <a href="{% url "new-costumer" %}" class="btn yellow plus-btn"><i>+</i>Add Customer</a>
                    <h2 class="title">{{company.name}}</h2>

                    <form role="form" action="." method="post" enctype="multipart/form-data">

                        {% csrf_token %}
                        <h2 class="sub-title">Customer Information</h2>

                        <form role="form" action="." method="post" enctype="multipart/form-data">
                        {{form.errors}}
                        {% csrf_token %}
                        <!--<h2 class="sub-title">Customer Information</h2>-->
                        <div id="customerForm" class="customer-form clear">

                            <div data-block="customerNew" class="hidden-block active" >
                                <div class="clear">
                                    <div class="column">
                                        <div class="form-group">
                                            <label for="name" class="control-label">Name</label>
                                            <input type="text" id="name" class="form-control" name="name" value="{{company.name}}">
                                        </div>
                                        <div class="dropdown form-group">
                                            <label class="control-label">Category</label>
                                            <button type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown"><input type="text" name="category" value="{{company.category}}" /><span class="caret"></span></button>
                                            <ul class="dropdown-menu" role="menu">
                                                {%for elem in company_category_list%}
                                                <li><a href="#">{{elem.title}}</a></li>
                                                {%endfor%}
                                            </ul>
                                        </div>
                                        <div class="form-group">
                                            <label for="website" class="control-label">Website</label>
                                            <input type="text" id="website" class="form-control" name="website" value = {{company.website}}>
                                        </div>
                                        <div class="form-group">
                                            <label for="phone" class="control-label">Phone</label>
                                            <input type="text" id="phone" class="form-control" name="phone" value = {{company.phone}}>
                                        </div>
                                        <div class="form-group">
                                            <label for="email" class="control-label">E-mail</label>
                                            <input type="email" id="email" class="form-control" name="email" value = {{company.email}}>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="form-group">
                                            <label for="address" class="control-label">Address</label>
                                            <input type="text" id="address" class="form-control" name="address" value = {{company.address}}>
                                        </div>
                                        <div class="form-group">
                                            <label for="city" class="control-label">City</label>
                                            <input type="text" id="city" class="form-control" name="city" value = {{company.city}}>
                                        </div>
                                        <div class="form-group">
                                            <label for="state" class="control-label">State</label>
                                            <input type="text" id="state" class="form-control" name="state" value = {{company.state}}>
                                        </div>
                                        <div class="form-group">
                                            <label for="post" class="control-label">Post Code</label>
                                            <input type="text" id="post" class="form-control" name="post_code" value="{{company.post_code}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-custom-card">
                                    <label for="description" class="control-label">Description</label>
                                    <textarea id="description" name="description" class="form-control" rows="3" cols="3">{{company.description}}</textarea>
                                </div>
                            </div>
                            <div class="button-custom-card clear">
                                <button type="submit" class="btn yellow">Save</button>
                                <button type="reset" class="btn grey">Cancel</button>
                            </div>
                        </div>
                    </form>


                        <div class="table-block clear">
                            <h2 class="sub_title">Contact Persons</h2>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Position</th>
                                        <th>Phone</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {%for elem in contact_person_list%}
                                    <tr>
                                        <td>{{elem.name}}</td>
                                        <td>{{elem.position}}</td>
                                        <td>{{elem.phone}}</td>
                                    </tr>
                                {%endfor%}
                                </tbody>
                            </table>
                            <a href="#" class="btn grey plus-btn right js-add-person"><i>+</i>Add Person</a>
                            <form method="post" action="/archive/customer-card/{{id}}/add-person/">
                                {%csrf_token%}
                            <div data-block="contactPersonNew" id="new-customer" class="hidden-block existing-customer form-add-person">

                                <div class="form-group">
                                    <label for="contactName" class="control-label">Name</label>
                                    <input type="text" name="name" id="contactName" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="position" class="control-label">Position</label>
                                    <input type="text" id="position" name="position" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="contactPhone" class="control-label">Phone</label>
                                    <input type="text" id="contactPhone" name="phone" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="contactEmail" class="control-label">E-mail</label>
                                    <input type="email" id="contactEmail" name="email" class="form-control">
                                </div>
                                <button type="submit" class="btn yellow fl-left">Save</button>
                            </div>
                            </form>
                        </div>
                        <div class="table-block">
                            <h2 class="sub_title">Orders</h2>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Order/Request</th>
                                        <th>Sales manager</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {%for elem in order_list%}
                                    <tr>
                                        <td>{{elem.sending_date|date:"d.m.Y"}}</td>
                                        <td><a href="{%if elem.status in status_list%}{%if elem.status == "2"%}{% url "view_pdf" elem.id %}{%else%}{% url "sales-details" elem.id %}{%endif%}{%else%}{% url "office" elem.id%}{%endif%}">{%if elem.status in status_list%}Request{%else%}Order{%endif%} #{{elem.id}}</a></td>
                                        <td>{{elem.sales_manager.name}}</td>

                                    </tr>
                                {%endfor%}
                                </tbody>
                            </table>
                        </div>

                    <span class="btn grey  js-modal-print-custom" style="margin-bottom: 40px">Print</span>

                    </form>
                </div>
            </div>
        </div>
    </section>
     <div class="modal-open-print-custom dis-n">
        <p>Do you want to open a printable version in a new tab?</p>
    <div>
        <a href="{%url 'customer-card-pdf' company.id%}" target="_blank" class="btn yellow  js-yes-close">Yes</a>
        <a href="#" class="btn grey js-close-print">No</a>
    </div>
    </div>
{%endblock%}