{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    {% include 'includes/menu.html' %}
    <script>
        var availableTags = [
        ];
        {% for elem in company_category_list %}
            availableTags.push('{{ elem.title }}');
        {% endfor %}
        $(function() {

            $( "#tags" ).autocomplete({
                source: availableTags,
                change: function(event, ui, obj) {
                    // ui.content is the array that's about to be sent to the response callback.
                    var s = ui.item;
                    console.log(s);
                    if (ui.item == obj) {
                        var category = $('#tags').val();
                        $.ajax({
                            type: "POST",
                            url: "/add-company-category/",
                            dataType: 'json',
                            data:{
                                'csrfmiddlewaretoken': getCookie('csrftoken'),
                                'category': category
                            },
                            success: function(data) {

                                if (data.status == 'OK'){
                                    availableTags.push(category);
                                }
                                if (data.status == 'ERROR'){
                                }
                            },
                            error: function(data) {}
                        });
                    } else {
                        console.log('++++')
                    }
                }

            });
        });
    </script>
    <section>
        <div class="add-request container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="title">New customer</h2>
                    <form role="form" action="." method="post" enctype="multipart/form-data">
                        {{form.errors}}
                        {% csrf_token %}
                        <h2 class="sub-title">Customer Information</h2>
                        <div id="customerForm" class="customer-form clear">

                            <div data-block="customerNew" class="active" style="margin-left: 115px;">
                                <div class="clear">
                                    <div class="column">
                                        <div class="form-group">
                                            <label for="name" class="control-label">Name</label>
                                            <input type="text" id="name" class="form-control" name="name">
                                        </div>

                                        <div class="form-group">
                                            <label for="name" class="control-label">Category</label>
                                            <input type="text" id="tags" class="form-control" name="category">
                                        </div>
                                        <div class="form-group">
                                            <label for="website" class="control-label">Website</label>
                                            <input type="text" id="website" class="form-control" name="website">
                                        </div>
                                        <div class="form-group">
                                            <label for="phone" class="control-label">Phone</label>
                                            <input type="text" id="phone" class="form-control" name="phone">
                                        </div>
                                        <div class="form-group">
                                            <label for="email" class="control-label">E-mail</label>
                                            <input type="email" id="email" class="form-control" name="email">
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="form-group">
                                            <label for="address" class="control-label">Address</label>
                                            <input type="text" id="address" class="form-control" name="address">
                                        </div>
                                        <div class="form-group">
                                            <label for="city" class="control-label">City</label>
                                            <input type="text" id="city" class="form-control" name="city">
                                        </div>
                                        <div class="form-group">
                                            <label for="state" class="control-label">State</label>
                                            <input type="text" id="state" class="form-control" name="state">
                                        </div>
                                        <div class="form-group">
                                            <label for="post" class="control-label">Post Code</label>
                                            <input type="text" id="post" class="form-control" name="post_code">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="description" class="control-label">Description</label>
                                    <textarea id="description" name="description" class="form-control" rows="3" cols="3"></textarea>
                                </div>

                            </div>
                            <div class="customer-card clear">
                                <h2 class="sub-title">Contact Persons</h2>
                                <div style="width: 860px; margin-left: 115px">

                                    <ul class="list-people">
                                        <li class="custom-add-clone">
                                            <div data-block="contactPersonNew" id="new-customer" class="existing-customer ">
                                                <div class="form-group">
                                                    <label for="contactName" class="control-label">Name</label>
                                                    <input type="text" name="contact-person-name" id="contactName" class="form-control" style="width: 100%">
                                                </div>
                                                <div class="form-group">
                                                    <label for="position" class="control-label">Position</label>
                                                    <input type="text" id="position" name="contact-person-position" class="form-control" style="width: 100%">
                                                </div>
                                                <div class="form-group">
                                                    <label for="contactPhone" class="control-label">Phone</label>
                                                    <input type="text" id="contactPhone" name="contact-person-phone" class="form-control" style="width: 100%">
                                                </div>
                                                <div class="form-group">
                                                    <label for="contactEmail" class="control-label">E-mail</label>
                                                    <input type="email" id="contactEmail" name="contact-person-email" class="form-control" style="width: 100%">
                                                </div>
                                            </div>
                                        </li>
                                        <li class="custom-add-person">
                                            <div data-block="contactPersonNew" id="new-customer" class="existing-customer">
                                                <div class="form-group">
                                                    <label for="contactName" class="control-label">Name</label>
                                                    <input type="text" name="contact-person-name" id="contactName" class="form-control" style="width: 100%">
                                                </div>
                                                <div class="form-group">
                                                    <label for="position" class="control-label">Position</label>
                                                    <input type="text" id="position" name="contact-person-position" class="form-control" style="width: 100%">
                                                </div>
                                                <div class="form-group">
                                                    <label for="contactPhone" class="control-label">Phone</label>
                                                    <input type="text" id="contactPhone" name="contact-person-phone" class="form-control" style="width: 100%">
                                                </div>
                                                <div class="form-group">
                                                    <label for="contactEmail" class="control-label">E-mail</label>
                                                    <input type="email" id="contactEmail" name="contact-person-email" class="form-control" style="width: 100%">
                                                </div>
                                            </div>
                                        </li>
                                    </ul>

                                    <div class="for-clone"></div>
                                    <a href="#" class="btn grey plus-btn right js-add-customers-person"><i>+</i>Add Person</a>
                                </div>
                            </div>
                            <div class="button">
                                <button type="submit" class="btn yellow">Save</button>
                                <button type="reset" class="btn grey">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}