{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <title>Custom Graphics</title>
    <link rel="shortcut icon" href="{% static 'css/images/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'css/images/favicon.ico' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'css/libs/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/libs/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/libs/smartadmin-production.min.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/sasha.css' %}">
    <link rel="stylesheet" href="{% static 'css/vitaliy.css' %}">
    <script type="text/javascript" src="{% static 'js/libs/jquery-2.1.1.min.js' %}"></script>
</head>
<body>
<script>
    $(document).ready(function(){
        {%if request.user.group.name == "General manager"%}
         $('input').attr('readonly', 'readonly');
         $('input[type="text"], textarea').attr('readonly','readonly');
         $('button').prop('disabled', true);
        {%endif%}
    });


</script>
{% block content %}{% endblock %}

{% block modals %}
{% endblock %}

<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="{% static 'js/libs/jquery-1.11.1.min.js' %}"></script>
    <![endif]-->
    <!--[if gte IE 9]>
        <style type="text/css">html,*{filter: none;}</style>
    <!-->
    <script type="text/javascript" src="{% static 'js/libs/jquery-2.1.1.min.js' %}"></script>
    <!--<![endif]-->
<script type="text/javascript" src="{% static 'js/libs/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/libs/jquery.autosize.js' %}"></script>
<script type="text/javascript" src="{% static 'js/libs/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/libs/mask.js' %}"></script>
<script type="text/javascript" src="{% static 'js/mary.js' %}"></script>
<script type="text/javascript" src="{% static 'js/libs/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/libs/app.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'js/order-office.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'js/offer.js' %}"></script>-->
{% block js %}
{% endblock %}
</body>
</html>