
{% extends 'base.html' %}

{% load staticfiles %}

{% load future %}

{% block content %}

<!--<script>-->
    <!--{%if offer%}-->
    <!--var offer = {{offer|safe}};-->
    <!--{%else%}-->
    <!--var offer = {};-->
    <!--{%endif%}-->
<!--</script>-->

    <header>
        <div class="container-fluid">
            <a href="/" class="icon-logo"><img src="{% static 'css/images/logo.jpg' %}" alt="" /></a>
            <div class="offer-header">
                <div>
                    <p>Custom Graphics, ABN: 78167098704</p>
                    <a href="">www.graphicsforcars.com.au</a>
                </div>
                <div>
                    <p><span class="fa fa-phone"></span>02 9697 0953</p>
                    <p><span class="fa fa-envelope"></span>info@graphicsforcars.com.au</p>
                </div>

            </div>
        </div>
    </header>
    <section>
        <div class="container-fluid offer">

            <div class="row">
                <div class="col-lg-12">
                    <h2 class="title">General Quotation</h2>
                    <div class="clear">
                        <h2 class="sub_title">Guotation Number #{{order.id}}</h2>
                        <table class="table table-offer">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Description</th>
                                    <th>Material</th>
                                    <th>Lamination</th>
                                    <th>Print</th>
                                    <th>Plot</th>
                                    <th>QTY</th>
                                    <th>x</th>
                                    <th>y</th>
                                    <th>Total m2</th>
                                    <th>Graphics Price</th>
                                    <th>Production Price</th>
                                    <th>Installation Price</th>
                                    <th>AMOUNT</th>
                                </tr>
                            </thead>
                            <tbody class="offer-table">
                            {%for position in positions%}
                            <tr>

                            <td>{{order.sending_date|date:"d.m.Y"}}</td>
                            <td>{{position.description}}</td>
                            <td>{{position.material}}</td>
                            <td>{{position.lamination}}</td>
                            <td>{{position.print}}</td>
                            <td>{{position.plot}}</td>
                            <td>{{position.qty}}</td>
                            <td>{{position.x}}</td>
                            <td>{{position.y}}</td>
                            <td>{{position.total_m2}}</td>
                            <td>{{position.graphics_price}}</td>
                            <td>{{position.production_price}}</td>
                            <td>{{position.installation_price}}</td>
                            <td>{{position.item_price}}</td>


                            </tr>
                            {%endfor%}
                            </tbody>
                        </table>
                        <div class="table-footer">

                            <div class="clear">
                                <p>Price:</p>
                                <span class="total_price">{{offer.sam.total_price}}</span>
                            </div>
                            <div class="clear">
                                <p>PRICE INCL. GST:</p>
                                <span class="expences">{{offer.sam.expences}}</span>
                            </div>
                        </div>
                        <div class="clear">
                            <div class="note-block">
                                <h2 class="offer-title"><span class="fa fa-file-o"></span>Note:</h2>
                                <textarea name="note" id="note">{{offer.note}}</textarea>
                            </div>
                            <div class="form-block">
                                <h2 class="offer-title"><span class="fa fa-user"></span>Customer Contacts:</h2>
                                <form action="">
                                    <div>
                                        <label for="name">Name:</label>
                                        <textarea name="name" id="nema">{{order.company.name}}</textarea>
                                    </div>
                                    <div>
                                        <label for="adress">Address:</label>
                                        <textarea name="adress" id="adress">{{order.company.address}}</textarea>
                                    </div>
                                    <div>
                                        <label for="mob">Mob./Email:</label>
                                        <textarea name="mob" id="mob">{{order.company.phone}}{%if order.company.email%}/{{order.company.email}}{%else%}{%endif%}</textarea>
                                    </div>
                                    <div>
                                        <label for="signature">Signature:</label>
                                        <textarea name="signature" id="signature" class="signature"></textarea>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="offer-footer">
                        <div class="sales-person clear">
                            <p class="sales-tittle"><span class="fa fa-comments"></span>Sales Person:</p>
                            <div>
                                <p>{{order.sales_manager.name}},</p>
                                <p>{{order.sales_manager.phone}},</p>
                                <p>{{order.sales_manager.email}}</p>
                            </div>
                        </div>
                        <div class="foot-right">
                            <p>We will beat any genuine quote.</p>
                            <p>We appriciate your business.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
