// Font
@font-face{.font('icomoon',icomoon)}
// General
body{
  font-family: @font;
  font-weight: 300;
}
a{
  .anim;
  color: @blue;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  &:hover{
    border-bottom-color: @blue;
    color: @blue;
  }
}
input.form-control{
  .rad(0);
  .anim;
  width: 200px;
}
textarea.form-control{
  .rad(0);
  .anim;
  width: 400px;
}
label.control-label{
  padding-right: 0;
  font-size: 16px;
  color: @grey;
  font-weight: 300;
}
header{
  padding: 30px 0 20px;
  div{
    .col-lg-1{
      margin-top: 30px;
      padding-right: 0;
      text-align: right;
    }
    .col-lg-11{padding-left: 0}
  }
}
.add-request{
  h3{
    color: @grey;
    font-weight: 300;
    float: left;
    width: 115px;
    margin: 5px 0 0;
  }
  label.radio-inline{
    margin-right: 15px;
    color: @grey;
    font-weight: 300;
  }
  .customer-form{
    margin-bottom: 40px;
    .hidden-block{margin-left: 115px;}
    input.form-control{width: 400px;}
    .column{
      width: 400px;
      float: left;
      margin-right: 60px;
      &:last-child{margin-right: 0}
    }
    textarea{width: 860px}
  }
  form{
    .active{display: block !important;}
    textarea{
      height: 140px;
      resize: none;
    }
    .col-lg-6{padding: 0;}
    >div{
      .col-lg-12{
        padding: 0;
        .col-lg-6{padding: 0 10px;}
      }
      .hidden-block{display: none;}
      .form-group{
        ul{
          width: 100%;
          a{width: 100%;}
        }
      }
      a{
        display: inline-block;
        float: right;
        font-size: 14px;
      }
    }
    .input-group-2{
      margin-bottom: 15px;
      label{
        .size(35px; 32px);
        border-right: 1px solid #ccc;
        margin: 0 1px;
        z-index: 5;
        background-color: #fff;
        cursor: pointer;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        padding-top: 8px;
      }
      span{
        z-index: 6;
        position: absolute;
        margin: 5px 0px 0px 15px;
        font-size: 14px;
      }
      p{
        .size(100%, 34px);
        border: 1px solid #ccc;
      }
      input{display: none;}
    }
    #customerForm>.col-lg-12{
      z-index: 1;
    }
    .button{
      margin: 55px 0 55px 85px;
      float: none;
      button{
        width: 107px;
        margin: 5px 0 0 32px;
      }
    }
  }
  .attachments{
    width: 515px;
    .attach{
      margin-left: 115px;
      width: 400px;
    }
  }
}
.btn-icon-add{
  padding-left: 30px;
  position: relative;
  &:before{
    content: '\e61c';
    position: absolute;
    font-family: 'icomoon';
    font-size: 13px;
    top: 6px;
    left: 6px;
  }
}
.btn-icon-ok{
  padding-left: 30px;
  position: relative;
  &:before{
    content: '\2a';
    position: absolute;
    font-family: 'icomoon';
    font-size: 13px;
    top: 8px;
    left: 9px;
  }
}
.btn-icon-cancel{
  padding-left: 30px;
  position: relative;
  &:before{
    content: '\e604';
    position: absolute;
    font-family: 'icomoon';
    font-size: 16px;
    top: 5px;
    left: 6px;
  }
}
.btn{
  .rad(0);
  .anim;
  min-width: 100px;
  color: #000;
  font: 300 18px @font-oswald;
  &:hover{opacity: 1}
  &.yellow{
    background-color: @orange;
    &:hover{background: @orange-hover}
  }
  &.grey{
    background-color: #dedede;
    &:hover{
      background: #ebebeb;
      border: 1px solid #ebebeb;
    }
  }
  &.plus-btn{
    border-bottom: none;
    i{
      font: 40px/9px Arial, sans-serif;
      margin-right: 10px;
      position: relative;
      top: 6px;
    }
  }
}
.container-fluid{
  padding: 0 30px;
  min-width: 1330px;
}
.dropdown{
  width: 400px;
  .btn{
    font: 300 14px @font;
    padding: 6px 15px;
    color: @grey;
    width: 100%;
    text-align: left;
    position: relative;
    background: transparent!important;
    i{font-style: normal}
    span{
      position: absolute;
      right: 5px;
      top: 50%;
    }
  }
  .dropdown-menu{
    .rad(0);
    padding: 0;
    li{
      a{
        border: none;
        padding: 5px 20px;
        .fw(14px,300);
        .anim;
        &:hover{
          color: #fff;
          background: @orange-hover;
        }
      }
    }

  }
}
.form {
  .rad(0);
  .absLT(50%,50%);
  width: 474px;
  margin: -150px 0 0 -236px;
  text-align: center;
  padding: 30px 0 40px;
  h2 {
    margin-bottom: 20px;
    color: @orange;
    font: 30px @font-oswald;
    text-transform: uppercase;
  }
  span {
    color: @red;
    font-size: 16px;
    display: block;
    margin: 0 0 20px 32px;
  }
  a{
    margin: 10px 0 0 15px;
    text-decoration: none;
    float: left;
  }
  i:before {font-size: 50px;}
  p {
    margin: 10px 0 0 0;
    font-size: 16px;
    color: @grey;
  }
  button{
    float: left;
    margin-left: 165px;
  }
}
.icon-mail{
  .icoIt(78px,58px,'images/mail.png');
  margin: 0 auto 25px;
}
.icon-cancel{
  .icoIt(64px,64px,'images/error.png');
  margin: 0 auto 25px;
}
.icon-logo{
  .anim;
  .size(180px,68px);
  float: left;
  background: #fff;
  padding-right: 30px;
  border: none;
  &:hover{opacity: .7}
  img{.img(100%,100%)}
}
.nav-tabs{
  border-bottom: 1px solid @orange;
  height: 49px;
  li{
    margin: 0;
    &.active{
      a{
        border-color: @orange;
        border-bottom: none;
        font-weight: 400;
        padding-bottom: 12px;
        color: @orange;
        cursor: pointer!important;
        &:hover{
          border-color: @orange-hover;
          background: @orange-hover;
          border-bottom: none;
          color: #fff;
        }
      }
    }
    a{
      .rad(0);
      font: 300 18px @font-oswald;
      color: @grey;
      border: 1px solid transparent;
      margin: 0;
      &:hover{
        border-color: @orange-hover;
        background: @orange-hover;
        color: #fff;
      }
    }
    &:last-child{float: right;}
  }
}
.order-manager{
  h2{font-size: 18px;}
  p{font-size: 13px;}
  a{
    float: right;
    position: relative;
    padding-right: 30px;
  }
}
.recovery-page{
  input.form-control{width: 240px}
  label.control-label{width: 145px;}
  .btn{margin-left: 145px;}
  h2{margin-left: 70px;}
}
.request-for-sale{
  p{font-size: 14px;}
  .col-lg-2{
    padding-left: 60px;
    ol li a{color: #3399cc;}
  }
  .col-lg-6{
    padding: 0;
    margin-bottom: 45px;
  }
}
.sales-list{
  .sub-title{
    border-bottom: none;
  }
  .table-calendar{
    h3{width: 100%;}
    >table{
      width: 80px;
      background: #f0f0f0;
      float: left;
      tr{
        td{
          .fw(14px,300);
          font-size: 14px;
          color: @grey;
          height: 35px;
          text-align: center;
        }
      }
      th{
        background: #ececec;
        border-bottom: none;
        height: 42px;
      }
    }
    .table-scroll{
      padding-left: 80px;
      table{
        width: 100%;
        overflow: auto;
        display: block;
        th{
          height: 42px;
          background: #ececec;
          font: 14px @font-oswald;
          text-align: center;
          border-bottom: none;
        }
        tr{
          td:first-child{border-left: none;}
          th&:first-child{border-left: none;}
        }
        th, td{width: 87px!important}
        td{
          height: 37px;
          cursor: pointer;
          box-sizing: border-box;
          position: relative;
          padding: 0 1px 0 0;
          &:hover{
            background-color: #f0f0f0;
          }
          >p{
            .size(87px,100%);
            display: block;
            font-weight: 300;
            background: #f0f0f0;
            color: @grey;
            padding: 0 10px;
            line-height: 36px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            &:hover{background: #ffd787;}
            &:empty{background: transparent}
            &:hover{
              + .tip{
                opacity: 1;
                visibility: visible;
              }
            }
          }
        }
      }
      .tip{
        .anim;
        .sh(0,5px,20px,0,0,0,0,.5);
        .absLT(70px,40px);
        opacity: 0;
        visibility: hidden;
        width: 138px;
        padding: 10px;
        font-size: 14px;
        background: #fff;
        z-index: 10;
        p{font-weight: 300}
        .tootle{font-weight: 400;}
        span{
          margin-right: 10px;
          &:last-child{margin-right: 0}
        }
      }
    }
  }
}
.sales-table{
  width: 820px;
  .sub-title{
    float: left;
    margin: 8px 0 15px;
  }
  .btn{float: right;}
}
.scrollable-table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    th {
      border: none!important;
      font-family: @font-oswald;
    }
    th, td {
      padding: 5px;
      text-align: left;
      font-size: 14px;
    }
    td:nth-child(1), th:nth-child(1) { min-width: 105px; }
    td:nth-child(2), th:nth-child(2) { min-width: 405px; }
    td:nth-child(3), th:nth-child(3) { width: 150px; }
    td:nth-child(4), th:nth-child(4) { width:  160px; }
    thead {
      background-color: #ececec;
      color: #333;
      tr {
        display: block;
        position: relative;
        padding-right: 15px;
      }
    }
    tbody {
      width: 100%;
      max-height: 333px;
      display: block;
      overflow: auto;
//      border-bottom: 1px solid #ddd;
      td{
        color: @grey;
        font-weight: 300;
        &.success{color: #336633;}
      }
      tr:last-child{ border-bottom: 1px solid #ddd;}
    }
}
.sub-title{
  color: @grey;
  border-bottom: 1px solid #ccc;
  font: 20px @font-oswald;
  margin-bottom: 20px;
}
.sub_title{
  color: @grey;
  font: 20px @font-oswald;
  margin-bottom: 20px;
}
.title{
  color: @orange;
  font: 30px @font-oswald;
  margin-bottom: 20px;
}
.quoatation{
  h2 span{
    padding-left: 20px;
    margin-left: 20px;
    font-size: 20px;
    color: #666666;
  }
  td{
    padding: 5px 10px;
    font-size: 13px;
  }
  .plus-btn{float: right;}
  form{
    >div>.form-group>label{
      margin: 10px 0;
      border-bottom: none;
    }
    >.col-lg-12{padding: 0;}
  }
  .description{
    max-width: 68%;
//    overflow: auto;
    display: block;
    float: left;
//    textarea{
//      resize: none;
//    }
    .dropdown-menu{
      margin-top: 5px;
      li{
        border: none;
        padding: 5px 20px;
        font-size: 14px;
        font-weight: 300;
        transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        color: #333;
        white-space: nowrap;
        cursor: pointer;
      }
    }
    td:first-child{min-width: 225px;}
    thead td{
      white-space: nowrap;
      height: 42px;
      background: #ececec;
      font: 14px 'Oswald', sans-serif;
      text-align: center;
    }
  }
  .form-group{
    textarea{
      width: 820px;
      height: 120px;
      resize: none;
      float: left;
      margin-right: 15px;
    }
  }
  input{
    border: 1px solid #ccc;
    height: 34px;
    padding: 5px;
    color: #333;
    width: 50px;
  }
  .price{
    width: 32%;
    margin-bottom: 30px;
    thead td{
      height: 42px;
      background: #ececec;
      font: 14px 'Oswald', sans-serif;
      text-align: center;
    }
    tbody{
//      tr:last-child{height: 162px;}
      td{
//        height: 90px;
        &:last-child{
          background-color: #f5f5f5;
          font-weight: 600;
        }
      }
    }
  }
  .note{
    .note-form{
      margin-bottom: 5px;
    }
    .form-group{
      label{
        display: inline-block;
        float: left;
        width: 90px;
        margin-bottom: 0;
        margin-right: 30px;
        border-bottom: none;
      }
      span{font: 20px 'Oswald', sans-serif;}
    }
  }
  textarea{
    border: 1px solid #cccccc;
    width: 205px;
  }
}
h5{
  font-size: 16px;
  color: #666666;
  margin-bottom: 10px;
}
.big{
  .size(200px, 28px);
  .dropdown-menu{
    width: 200px;
  }
}
.middle{
  .size(120px, 28px);
  .dropdown-menu{
    min-width: 120px;
  }
}
.small{
  .size(100px, 28px);
  .dropdown-menu{
    min-width: 100px;
  }
}
textarea{padding: 10px;}
.request-footer{
  margin-bottom: 20px;
  p{
    margin: 0;
    float: left;
    width: 110px;
    padding: 0;
    font-size: 14px;
    color: #ccc;
  }
  span{
    color: #333;
    line-height: 21px;
    font-size: 14px;
    float: none;
    display: inline-block;
  }
}
p{
  padding-bottom: 5px;
}
.active-orders{
  border-bottom: 1px solid #ccc;
  >table{
    width: 33%;
    float: left;
    td{
      height: 39px;
      font-size: 14px;
      box-sizing: border-box;
    }
    thead tr{
      height: 42px;
      background-color: #ececec;
      th{
        border: none;
        font: 14px @font-oswald;
        white-space: nowrap;
        border-bottom: 2px solid #fff;
      }
    }
    tbody{
      tr:last-child{
        td{border-bottom: 1px solid #ccc;}
      }
      tr:first-child{
        td{border-top: none;}
      }
    }
  }
  >div{
    width: 67%;
    overflow: hidden;
    position: relative;
    table{
      width: 100%;
      padding: 0 28px;
      overflow: auto;
      display: inline-block;
      margin-bottom: 0;
      thead{
        tr{
          background-color: #ececec;
          &:nth-child(2) th{
            font-size: 11px;
            border-color: #ececec;
            &:nth-child(7n+8){
              border-left: 2px solid #ffffff;
            }
            &:nth-child(1){
              border-left: 2px solid #ffffff;
            }
          }
          &:first-child th{
            min-width: 350px;
            border-color: #ffffff;
            border-left: 2px solid #ffffff;
            font: 14px @font-oswald;
            white-space: nowrap;
            padding-top: 1px;
          }
          th{
//            height: 18px;
            padding: 0 1px 1px;
            text-align: center;
          }
        }
      }
      tbody{
        td{
          height: 39px;
          font-size: 14px;
        }
        tr:last-child{
          td{border-bottom: 1px solid #ccc;}
        }
      }
    }
  }
}
.active-sales{
  form>div:last-child{width: 33%;}
  .scrollable-table td:nth-child(2), .scrollable-table th:nth-child(2) { min-width: 105px; }
  .scrollable-table td:nth-child(1), .scrollable-table th:nth-child(1) { min-width: 70px; }
  .scrollable-table td:nth-child(3), .scrollable-table th:nth-child(3) { min-width: 100px; }
  .scrollable-table td:nth-child(3), .scrollable-table th:nth-child(3) { min-width: 100px; }
  .scrollable-table tbody{border-bottom: none;}
}
.yellow-cell{background-color: #fbaf3b;}
.grey-light-cell{background-color: #ececec;}
.green-light-cell{background-color: #dff0d8;}
.blue-light-cell{background-color: #cbe8f7;}
.yellow-light-cell{background-color: #ffeda6;}
.active-date{background-color: #ccc;}
.active-date-cell{background-color: #f5f5f5;}
.order-office{
  p{font-size: 14px;}
  .order-description{
    margin-bottom: 10px;
    .sub_title>a{
      font-size: 16px;
      margin-left: 20px;
      font-weight: 300;
    }
    .btn{
      float: right;
      margin-top: -15px;
    }
    >p{
      width: 15%;
      float: left;
      font-size: 16px;
    }
    >div{overflow: hidden;}
  }
  textarea{
    resize: none;
    .size(100%, 120px);
    border: 1px solid #ccc;
    margin-bottom: 15px;
    font-size: 14px;
  }
  table{
    font-size: 14px;
    td{
      position: relative;
      input{
        .size(100%, 28px);
        border: 1px solid #ccc;
        padding: 0 25px 0 8px;
      }
      .glyphicon{
        position: absolute;
        top: 13px;
        right: 12px;
        font-size: 18px;
        pointer-events: none;
      }
    }
    tr:last-child{border-bottom: 1px solid #ccc;}
    thead{
      background-color: #ececec;
      color: #333;
      font-family: 'Oswald', sans-serif;
    }
    tbody td{line-height: 28px;}
  }
  .grey{margin-left: 5px;}
  .request-footer{
    label{font-weight: 300;}
    span a{margin-left: 5px;}
    input{height: 13px;}
  }
  form{
    position: relative;
    hr{
      width: 100%;
      background-color: #ccc;
      height: 1px;
      position: absolute;
      top: 97px;
    }
    >.btn{margin-bottom: 20px;}
    .description-block>.col-lg-8{
      float: none;
      padding: 0;
      width: 63.3%;
      margin-bottom: 10px;
    }
    >.col-lg-8{
      float: none;
      padding: 0;
      width: 63.3%;
    }
    div>.sub-title span{
      font-size: 16px;
      cursor: pointer;
    }
  }
  ol li{margin-bottom: 5px;}
}
.full-footer{
  margin-top: 10px;
  div:first-child{
    float: left;
    width: 43%;
  }
  p{
    width: 110px;
    font-size: 18px;
  }
  span{font-size: 18px;}
}

.customer-card{
  .hidden-block {margin-left: 0 !important;}
  table{
    thead tr{
      background-color: #ececec;
      th{
        color: #333;
        font: 14px 'Oswald', sans-serif;
      }
    }
    tbody{
      tr{
        &:last-child{border-bottom: 1px solid #ccc;}
        td{
          font-size: 14px;
          &:first-child{color: #666666;}
          a{float: none;}
        }
      }

    }
  }
  textarea {
    width: 51.5% !important;
    height: 90% !important;
  }
  .column {
    width: 23.4% !important;
    input{width: 100% !important;}
    .dropdown{
      width: 100% !important;
      .btn{width: 100% !important;}
    }
  }
  .hidden-block>.dropdown{width: 23.4% !important;}
  .table-block{width: 51.5%;}
  .yellow{float: right;}
}
.manager{
  .col-lg-6{
    margin-bottom: 30px;
    width: 65%;
  }
  .request-footer{
    margin-bottom: 40px;
    p{font-size: 16px;}
    span{
      font-size: 16px;
      font-weight: 600;
    }
  }
}
.order-planning{
  td:nth-child(3) input{
    border: none !important;
    padding: 0;
  }
  th:nth-child(3){width: 135px !important;}
}

.offer{
  table{
    margin-bottom: 0;
    font-size: 14px;
    th{
      background-color: #dddddd;
      color: #333;
      font: 14px 'Oswald', sans-serif;
      &:last-child{
        font-weight: 600;
        background-color: #d0d1d3;
      }
    }
    td{
      color: #666666;
      font-size: 14px;
      &:last-child{
        font-weight: 600;
        background-color: #ebeced;
        color: #333333;
      }
    }
    tr:last-child{
      border-bottom: 1px solid #ccc;
    }
  }
  .table-footer{
    float: right;
    text-align: right;
    width: 20%;
    span{
      width: 44.3%;
      height: 37px;
      background-color: #ff9900;
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
      text-align: left;
      padding: 8px;
    }
    p{
      float: left;
      display: inline-block;
      width: 52%;
      height: 37px;
      font: 13px 'Oswald', sans-serif;
      line-height: 37px;
    }
    div:first-child{
      height: 37px;
      span{background-color: #ebeced;}
    }
  }
}
.offer-header{
  border-top: 1px solid #ff9900;
  border-bottom: 1px solid #ff9900;
  padding: 10px 0;
  div{
    display: inline-block;
    a{
      color: #ff9900;
      font-size: 16px;
      &:hover{border-bottom-color: #ff9900;}
    }
    p{
      font-size: 16px;
      padding: 0;
    }
    &:first-child{
      float: left;
      margin-right: 40px;
    }
    &:last-child{
      p span{
        padding: 0 10px 0 0;
        color: #ff9900;
      }
    }
  }
}
.offer-footer{
 >div:first-child{
   width: 50%;
   float: left;
 }
 >div:last-child{
   width: 50%;
   overflow: hidden;
   text-align: right;
 }
}
.ui-widget-content{
  background: #dff0d8;
}
.ui-draggable .ui-dialog-titlebar{
  background: none;
  border: none;
  padding: 0;
  color: #000000;
  &:hover{
    opacity: 0.8;
  }
}
.ui-dialog .ui-dialog-titlebar-close{
  position: relative;
  right: 0px;
  top: 50%;
  width: 20px;
  margin: -10px 0 0 0;
  padding: 1px;
  height: 20px;
  background: none;
  font: normal normal normal 14px/1 FontAwesome;
}
.sales-table{
  max-width: 1538px;
  position: relative;
  min-width: 1330px;
  width: 100%;
  .previous-table-cell{
    left: 79px;
  }
}