.anim (@transition: .3s, @direction: all) {
  transition: @direction @transition ease-in-out;
  -moz-transition: @direction @transition ease-in-out;
  -webkit-transition: @direction @transition ease-in-out;
  -o-transition: @direction @transition ease-in-out;
  -ms-transition: @direction @transition ease-in-out;
}
.icoImg(@width: 0, @height: 0, @url, @left: 0, @top: 0,@pos-left:0,@pos-top:0){
  background:url(@url) @pos-left @pos-top;
  position: absolute;
  content: '';
  width: @width;
  height: @height;
  left: @left;
  top: @top;
  pointer-events: none;
}
.icoIt (@width: 0, @height: 0, @icon){
  background:url(@icon) no-repeat;
  width: @width;
  height: @height;
  display: block;
}
.size(@width, @height){
  width: @width;
  height: @height;
}
.fl(@size, @line){
  font-size: @size;
  line-height: @line;
}
.fw(@size, @weight){
  font-size: @size;
  font-weight: @weight;
}
.rad (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}
.shIn (@x: 0, @y: 0, @blur: 1px, @spread: 0, @r: 0, @g: 0, @b: 0, @alpha: 0.2) {
  box-shadow: inset @x @y @blur @spread rgba(@r,@g,@b,@alpha);
  -moz-box-shadow: inset @x @y @blur @spread rgba(@r,@g,@b,@alpha);
  -webkit-box-shadow: inset @x @y @blur @spread rgba(@r,@g,@b,@alpha);
}
.sh (@x: 0, @y: 0, @blur: 1px, @spread: 0, @r: 0, @g: 0, @b: 0, @alpha: 0.2) {
  box-shadow: @x @y @blur @spread rgba(@r,@g,@b,@alpha);
  -moz-box-shadow: @x @y @blur @spread rgba(@r,@g,@b,@alpha);
  -webkit-box-shadow: @x @y @blur @spread rgba(@r,@g,@b,@alpha);
}
.gradLT(@start, @stop) {
  background: @start;
  background: -moz-linear-gradient(top,  @start 0%, @stop 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@start), color-stop(100%,@stop));
  background: -webkit-linear-gradient(top,  @start 0%,@stop 100%);
  background: -o-linear-gradient(top,  @start 0%,@stop 100%);
  background: -ms-linear-gradient(top,  @start 0%,@stop 100%);
  background: linear-gradient(to bottom,  @start 0%,@stop 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@start', endColorstr='@stop',GradientType=0 );
}
.gradRT(@start, @middle, @stop){
  background: @start;
  background: -moz-radial-gradient(top, ellipse cover,  @start 0%, @middle 50%, @stop 100%);
  background: -webkit-gradient(radial, top center, 0px, center center, 100%, color-stop(0%,@start), color-stop(50%,@middle), color-stop(100%,@stop));
  background: -webkit-radial-gradient(top, ellipse cover,  @start 0%,@middle 50%,@stop 100%);
  background: -o-radial-gradient(top, ellipse cover,  @start 0%,@middle 50%,@stop 100%);
  background: -ms-radial-gradient(top, ellipse cover,  @start 0%,@middle 50%,@stop 100%);
  background: radial-gradient(ellipse at top,  @start 0%,@middle 50%,@stop 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@start', endColorstr='@stop',GradientType=1 );
}
.img (@width: 100%, @height: 100%) {
  max-width: @width;
  max-height: @height;
}
.imgs(@size: 100% 100%){
  background-size: @size;
  -webkit-background-size: @size;
  -moz-background-size: @size;
  -o-background-size: @size;
  -ms-background-size: @size;
}
.bs(@sizing: border-box){
  box-sizing: @sizing;
  -webkit-box-sizing: @sizing;
  -moz-box-sizing: @sizing;
}
.rubl(@font: 24px, @size: 3px, @color: @color, @line: 7px){
  display: inline-block;
  font-size: @font;
  line-height: @line;
  border-bottom: @size solid;
  width:0.5em;
  font-style: normal;
  text-transform: uppercase;
  color: @color;
}
.col(@count,@gap){
  -webkit-column-count:@count;
  -moz-column-count:@count;
  column-count:@count;
  -webkit-column-gap: @gap;
  -moz-column-gap: @gap;
  column-gap: @gap;
}
.us(){
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.absLT(@left:0,@top:0){
  position: absolute;
  left: @left;
  top: @top;
}
.absRT(@right:0,@top:0){
  position: absolute;
  right: @right;
  top: @top;
}
.absLB(@left:0,@bot:0){
  position: absolute;
  left: @left;
  bottom: @bot;
}
.absRB(@right:0,@bot:0){
  position: absolute;
  right: @right;
  bottom: @bot;
}
.trans(@deg){
  -moz-transform: rotate(@deg);
  -webkit-transform: rotate(@deg);
  -o-transform: rotate(@deg);
  -ms-transform: rotate(@deg);
  transform: rotate(@deg);
}
.fix(@left:0,@top:0){
  position: fixed;
  left: @left;
  top: @top;
  z-index: 99;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
}
.tbl(@horizontal: center,@vertical: middle){
  display: table-cell;
  text-align: @horizontal;
  vertical-align: @vertical;
}
.ico(@content,@size,@color,@line:1){
  content: @content;
  color: @color;
  font: @size/@line @icon;
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.arrR(@pos,@color,@width,@index){
  .absRT(@pos,50%);
  .size(0,0);
  content: '';
  z-index: @index;
  border: solid transparent;
  pointer-events: none;
  border-right-color: @color;
  border-width: @width;
  margin-top: -@width;
}
.font (@name, @file){
  font-family: @name;
  src: url('fonts/@{file}.eot');
  src:
  url('fonts/@{file}.eot?#iefix') format('embedded-opentype'),
  url('fonts/@{file}.woff') format('woff'),
  url('fonts/@{file}.ttf') format('truetype'),
  url('fonts/@{file}.svg#@{name}') format('svg');
  font-weight: normal;
  font-style: normal;
}