// Variables
@font:         'Roboto Condensed', sans-serif;
@font-oswald:  'Oswald', sans-serif;
@orange:       #ff9900;
@orange-hover: #fbaf3b;
@grey:         #666;
@red:          #ff3300;
@blue:         #3399cc;