
{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    {% include 'includes/menu.html' %}
<section>
    <div class="request-for-sale container-fluid manager">

        <div class="row">
            <div class="col-lg-12">
                <h2 class="title">Order #{{order.id}}</h2>
                <h2 class="sub-title">Graphics</h2>
                <div class="col-lg-6">
                    <p>{{order.graphics_description}}</p>
                </div>
            </div>
            <div class="col-lg-12 request-footer">
                <div>
                    <p>Start date:</p>
                    <span>{{order.graphics_date_start|date:"Y-m-d H:m A"}}</span>
                </div>
                <div>
                    <p>Due date:</p>
                    <span>{{order.graphics_date_end|date:"Y-m-d H:m A"}}</span>
                </div>
                 <div>
                    <p>Contact person:</p>
                    <span>{{order.contact_person.name}}{% if order.contact_person.email  %} / {{ order.contact_person.email }}{% endif %}</span>
                </div>
                <div>
                    <p>Attachments:</p>
                    <div class="over">
                     {%for elem in order.get_attachment_list%}
                        <a href="{{elem.attachment_file.url}}" target="_blank">{{ forloop.counter }}. {{elem.get_file_name}}</a><br />
                     {%endfor%}
                    </div>
                </div>
            </div>
            <div class="col-lg-12">

                <span class="btn yellow finish">Finish Design</span>
            </div>
        </div>
    </div>

</section>

{% endblock %}