
{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    {% include 'includes/menu.html' %}
<section>
    <div class="request-for-sale container-fluid manager">

        <div class="row">
            <div class="col-lg-12">
                <h2 class="title">Order #{{order.id}}</h2>
                <h2 class="sub-title">Production</h2>
                <div class="col-lg-6">
                    <p>{{order.product_description}}</p>
                </div>
            </div>
            <div class="col-lg-12 request-footer">
                <div>
                    <p>Start date:</p>
                    <span>{{order.product_date_start|date:"Y-m-d H:m A"}}</span>
                </div>
                <div>
                    <p>Due date:</p>
                    <span>{{order.product_date_end|date:"Y-m-d H:m A"}}</span>
                </div>
            </div>
            <div class="col-lg-12">

                <span class="btn yellow finish">Finish Production</span>
            </div>
        </div>
    </div>

</section>

{% endblock %}