{% extends 'base.html' %}
{% load staticfiles %}
{%load future%}
{% block content %}
    {% include 'includes/menu.html' %}
<script type="text/javascript">var id = {{id}}
$(document).ready(function(){
    console.log('yoyooyoyoyoyoyoy');
    $('.cancel').attr('disabled', true);
    $('.save').attr('disabled', true);
    {%if order.status in status_list%}
     $('.cancel').attr('disabled', false);
    $('.save').attr('disabled', false);
    {%endif%}
    $('#finish').attr('disabled', true);
    {%if order.status == "8" and order.payment%}
    $('#finish').attr('disabled', false);
    {%endif%}
    $('.invoice-paid').click(function(){
        var checked = $('.invoice-paid:checked').length > 0;
        console.log(checked);
        {% if order.status == "8" %}
        if (checked){
            $('#finish').attr('disabled', false);
        }
        {% endif %}
    })
})

</script>
<section>
    <div class="container-fluid order-office">
        <div class="row">
            <div class="col-lg-12">
                <form role="form">
                    <h2 class="title">Order #{{order.id}}</h2>
                    <hr />
                    <div class="clear order-description col-lg-8">
                        <a href="#" id="finish" class="btn yellow plus-btn finish">Finish Order</a>
                        <h2 class="sub_title">Project budget: {% if  order.price  %}${{order.price}}{% else %}{% endif %} <a href="{% url "view_pdf" order.id%}" target="_blank">Show quotation</a></h2>

                           {{order.order_details}}

                    </div>
                    <div class="description-block">
                        <h2 class="sub-title">Design Description <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" href="#collapse1" aria-expanded="false" aria-controls="collapseExample"></span></h2>
                        <div class="col-lg-8 collapse" id="collapse1">
                            <textarea class="design-description">{{order.graphics_description}}</textarea>
                        </div>
                    </div>
                    <div class="description-block">
                        <h2 class="sub-title">Production Description <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" href="#collapse2" aria-expanded="false" aria-controls="collapseExample"></span></h2>
                        <div class="col-lg-8 collapse" id="collapse2">
                            <textarea class="production-description">{{order.installation_description}}</textarea>
                        </div>
                    </div>
                    <div class="description-block">
                        <h2 class="sub-title">Installation Description <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" href="#collapse3" aria-expanded="false" aria-controls="collapseExample"></span></h2>
                        <div class="col-lg-8 collapse" id="collapse3">
                            <textarea class="installation-description">{{order.product_description}}</textarea>
                        </div>
                    </div>


                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-8">
                                <h2 class="sub-title">Order Planning</h2>
                                <table class="table order-planning">
                                    <thead>
                                        <tr>
                                            <th>Department</th>
                                            <th>Start date</th>
                                            <th>Estimation, min</th>
                                            <th>Due Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="need-change">
                                            <td>Graphics</td>
                                            <td><input type="text" id="datepicker1" class="datepicker design-date-start" value='{%if order.graphics_date_start%}{{order.graphics_date_start|date:"Y-m-d h:i A"}}{%else%}{{now|date:"Y-m-d h:i A"}}{%endif%}'/><span class="glyphicon glyphicon-calendar"></span></td>
                                            <td><input type="text" class="min design-min" value="{%if order.graphics_min%}{{order.graphics_min}}{%else%}{%endif%}"></td>
                                            <td class="date-end design-date-end">{{order.graphics_date_end|date:"Y-m-d h:i A"}}</td>
                                        </tr>
                                        <tr class="need-change" >
                                            <td>Production </td>
                                            <td><input type="text" id="datepicker2" class="datepicker production-date-start" value='{%if order.product_date_start%}{{order.product_date_start|date:"Y-m-d H:i A"}}{%else%}{{now|date:"Y-m-d H:i A"}}{%endif%}' /><span class="glyphicon glyphicon-calendar"></span></td>
                                            <td><input type="text" class="min production-min" value="{%if order.product_min%}{{order.product_min}}{%else%}{%endif%}"></td>
                                            <td class="date-end production-date-end" >{{order.product_date_end|date:"Y-m-d h:i A"}}</td>
                                        </tr>
                                        <tr class="need-change">
                                            <td>Installation</td>
                                            <td><input type="text" id="datepicker3" class="datepicker installation-date-start" value='{%if order.installation_date_start%}{{order.installation_date_start|date:"Y-m-d H:i A"}}{%else%}{{now|date:"Y-m-d H:i A"}}{%endif%}'/><span class="glyphicon glyphicon-calendar"></span></td>
                                            <td><input type="text" class="min installation-min" value="{%if order.installation_min%}{{order.installation_min}}{%else%}{%endif%}"></td>
                                            <td class="date-end installation-date-end" >{{order.installation_date_end|date:"Y-m-d h:i A"}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-4">
                                <h2 class="sub-title">Attachments</h2>
                                <ol>
                                     {%for elem in order.get_attachment_list%}
                                    <li><a href="{{elem.attachment_file.url}}" target="_blank">{{ forloop.counter }}. {{elem.get_file_name}}</a></li>
                                    {%endfor%}

                                </ol>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="row request-footer">
                            <div class="col-lg-5">
                                <h3 class="sub-title">Customer contacts</h3>
                                <div>
                                    <p>Name:</p>
                                    <span>{{order.contact_person.name}}</span>
                                </div>
                                <div>
                                    <p>Address:</p>
                                    <span>{{order.contact_person.address}}</span>
                                </div>
                                <div>
                                    <p>Mob/Email:</p>
                                    <span>{{order.contact_person.phone}}{%if order.contact_person.phone and order.contact_person.email%}/{%endif%}{{order.contact_person.email}}</span>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <h3 class="sub-title">Order payment</h3>
                                <div>
                                    <p>Invoice Sent:</p>
                                    <span>{%if order.sent_invoice%}YES{%else%}NO{%endif%}<a href="#" class="sent-invoice">Send invoice</a></span>
                                </div>
                                <div>
                                    <p>Invoice Paid:</p>
                                    <span>
                                        <label><input name="payment" type="checkbox"  class="invoice-paid" {%if order.payment%}checked{%else%}{%endif%}></label>

                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <span class="btn yellow save ">Save</span>
                </form>
            </div>
        </div>
    </div>
</section>

    <div class="modal-open-sent-invoice dis-n">
        <p>Invoice sent</p>
    </div>
    <div class="modal-open-add-order dis-n" style="min-height: 100px !important">
        <p>Order saved</p>
    </div>
{% endblock %}