{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    {% include 'includes/menu.html' %}
<section>
    <div class="container-fluid order-office">
        <div class="row">
            <div class="col-lg-12">
                <form role="form">
                    <h2 class="title">Order #141</h2>
                    <hr />
                    <div class="clear order-description col-lg-8">
                        <h2 class="sub_title">Project budget: $1200 <a href="">Show quotation</a></h2>
                        <p>Description</p>
                        <div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                    </div>
                    <div class="description-block">
                        <h2 class="sub-title">Design Description <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" href="#collapse1" aria-expanded="false" aria-controls="collapseExample"></span></h2>
                        <div class="col-lg-8 collapse" id="collapse1">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                    </div>

                    <div class="description-block">
                        <h2 class="sub-title">Production Description <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" href="#collapse2" aria-expanded="false" aria-controls="collapseExample"></span></h2>
                        <div class="col-lg-8 collapse" id="collapse2">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                    </div>

                    <div class="description-block">
                        <h2 class="sub-title">Installation Description <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" href="#collapse3" aria-expanded="false" aria-controls="collapseExample"></span></h2>
                        <div class="col-lg-8 collapse" id="collapse3">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                    </div>


                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-8">
                                <h2 class="sub-title">Order Planning</h2>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Department</th>
                                            <th>Start date</th>
                                            <th>Estimation, min</th>
                                            <th>Due Date</th>
                                            <th>Manager</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Graphics</td>
                                            <td>07.12.14 01:00 PM</td>
                                            <td>100</td>
                                            <td>07.12.14 02:40 PM</td>
                                            <td>Jackie Chan</td>
                                        </tr>
                                        <tr>
                                            <td>Production</td>
                                            <td>07.12.14 01:00 PM</td>
                                            <td>100</td>
                                            <td>07.12.14 02:40 PM</td>
                                            <td>Bruce Lee</td>
                                        </tr>
                                        <tr>
                                            <td>Installation</td>
                                            <td>07.12.14 01:00 PM</td>
                                            <td>100</td>
                                            <td>07.12.14 02:40 PM</td>
                                            <td>Chuck Norris</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-4">
                                <h2 class="sub-title">Attachments</h2>
                                <ol>
                                    <li><a href="" target="_blank">Attachment1</a></li>
                                    <li><a href="" target="_blank">Attachment2</a></li>
                                    <li><a href="" target="_blank">Attachment3</a></li>
                                    <li><a href="" target="_blank">Attachment4</a></li>
                                    <li><a href="" target="_blank">Attachment5</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="row request-footer">
                            <div class="col-lg-5">
                                <h3 class="sub-title">Customer contacts</h3>
                                <div>
                                    <p>Name:</p>
                                    <span>Poul Keller</span>
                                </div>
                                <div>
                                    <p>Address:</p>
                                    <span>Test Address</span>
                                </div>
                                <div>
                                    <p>Mob/Email:</p>
                                    <span>test@test.com</span>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <h3 class="sub-title">Order payment</h3>
                                <div>
                                    <p>Invoice Sent:</p>
                                    <span>NO</span>
                                </div>
                                <div>
                                    <p>Invoice Paid:</p>
                                    <span>YES</span>
                                </div>
                            </div>
                            <div class="col-lg-12 full-footer">
                                <div>
                                    <p>Sales Manager:</p>
                                    <span>Poul Keller</span>
                                </div>
                                <div>
                                    <p>Office Manager:</p>
                                    <span>John Doe</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="{% static 'js/libs/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/mary.js' %}"></script>
{% endblock %}