{% extends 'base.html' %}
{% load staticfiles %}
{% load future %}

{% block content %}
    {% include 'includes/menu.html' %}
    <section>
        <div class="container-fluid active-sales">

            <div class="row">
                <div class="col-lg-12">

                    <form role="form">
                        <h2 class="title">Active Sales</h2>
                        <div class="clear active-orders active-orders-department">
                            <h2 class="sub_title">Active Orders</h2>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#Order</th>
                                    <th>Customer</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><a href="">#1</a></td>
                                    <td>Customer Name</td>
                                    <td class="blue-cell">Production</td>
                                </tr>
                                <tr>
                                    <td><a href="">#2</a></td>
                                    <td>Customer Name</td>
                                    <td class="blue-cell">Production</td>
                                </tr> <tr>
                                    <td><a href="">#3</a></td>
                                    <td>Customer Name</td>
                                    <td class="blue-light-cell">Design</td>
                                </tr>

                                {% for order in orders_list %}
                                    <tr>
                                        <td><a href="">#{{ order.id }}</a></td>
                                        <td>{{ order.company.name }}</td>
                                        <td class="yellow-cell">{{ order.get_status_display }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            <div class="">
                                <span class="next-table-cell js-next-cell"><span class="glyphicon glyphicon-chevron-right"></span></span>
                                <span class="previous-table-cell js-previous"><span class="glyphicon glyphicon-chevron-left"></span></span>

                                <table class="table table-slide">
                                    <thead>
                                    <tr>
                                        <th colspan="7">06.12.14</th>
                                        <th colspan="7">07.12.14</th>
                                        <th class="active-date" colspan="7">08.12.14</th>
                                        <th colspan="7">09.12.14</th>
                                        <th colspan="7">10.12.14</th>
                                    </tr>

                                    <tr>
                                        <th>09 AM</th>
                                        <th>10 AM</th>
                                        <th>11 AM</th>
                                        <th>12 AM</th>
                                        <th>01 PM</th>
                                        <th>02 PM</th>
                                        <th>03 PM</th>

                                        <th>09 AM</th>
                                        <th>10 AM</th>
                                        <th>11 AM</th>
                                        <th>12 AM</th>
                                        <th>01 PM</th>
                                        <th>02 PM</th>
                                        <th>03 PM</th>

                                        <th class="active-date">09 AM</th>
                                        <th class="active-date">10 AM</th>
                                        <th class="active-date">11 AM</th>
                                        <th class="active-date">12 AM</th>
                                        <th class="active-date">01 PM</th>
                                        <th class="active-date">02 PM</th>
                                        <th class="active-date">03 PM</th>

                                        <th>09 AM</th>
                                        <th>10 AM</th>
                                        <th>11 AM</th>
                                        <th>12 AM</th>
                                        <th>01 PM</th>
                                        <th>02 PM</th>
                                        <th>03 PM</th>

                                        <th>09 AM</th>
                                        <th>10 AM</th>
                                        <th>11 AM</th>
                                        <th>12 AM</th>
                                        <th>01 PM</th>
                                        <th>02 PM</th>
                                        <th>03 PM</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><hr style="color:#c00;background-color:#c00;height:100%; border:none;margin:0;" align="left" width=100% /></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>

                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>

                                        <td class="active-date-cell"></td>
                                        <td class="active-date-cell"></td>
                                        <td class="active-date-cell"></td>
                                        <td class="active-date-cell"></td>
                                        <td class="active-date-cell"></td>
                                        <td class="active-date-cell"></td>
                                        <td class="active-date-cell"></td>

                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>

                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    {% for order in orders_list %}
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>

                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>

                                            <td class="active-date-cell"></td>
                                            <td class="active-date-cell"></td>
                                            <td class="active-date-cell"></td>
                                            <td class="active-date-cell"></td>
                                            <td class="active-date-cell"></td>
                                            <td class="active-date-cell"></td>
                                            <td class="active-date-cell"></td>

                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>

                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="clear">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}