{% extends 'base.html' %}
{% load staticfiles %}
{% load future %}

{% block content %}
    {% include 'includes/menu.html' %}
<section>
    <div class="container-fluid active-sales">

        <div class="row">
            <div class="col-lg-12">

                <form role="form">
                    <h2 class="title">Active Sales</h2>
                    <div class="clear active-orders">
                        <h2 class="sub_title">Active Orders</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#Order</th>
                                    <th>Customer</th>
                                    <th>Status</th>
                                    <th>Sending Date</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for order in orders_list %}

                                <tr>
                                    <td class="{%if order.id in expired_list%}yellow-cell{%else%}{%endif%}"><a href="{%url 'office' order.id%}">#{{ order.id }}</a></td>
                                    <td ><div class="over-height">{{ order.company.name }}</div></td>
                                    <td class="{%if order.status == "5"%}blue-light-cell{%elif order.status == "6"%}green-light-cell{%elif order.status == "7"%}yellow-light-cell{%elif order.status == "8"%}yellow-cell{%else%}{%endif%}"><div class="over-height">{{ order.get_status_display }}</div></td>
                                    <td>{{order.sending_date|date:"d.m.Y"}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="">
                            <span class="next-table-cell js-next-cell"><span class="glyphicon glyphicon-chevron-right next-week"></span></span>
                            <span class="previous-table-cell js-previous"><span class="glyphicon glyphicon-chevron-left prev-week"></span></span>

                            <table class="table table-slide">
                                <thead>
                                    <tr>
                                        {% for elem in days %}
                                        <th colspan="7">{{ elem|date:"d.m.Y" }}</th>
                                       {% endfor %}
                                    </tr>

                                    <tr>
                                        {% for day in days %}
                                            {% for hour in hours %}
                                                <th>{{ hour|time:"h:i A" }}</th>
                                            {% endfor %}
                                        {% endfor %}


                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in orders_report %}
                                    <tr>
                                        <!--{{order}}-->
                                        {% for td in order %}

                                        <td class="all-td">
                                            <div>

                                                {%for th in td%}
                                                <hr class="{{th.class}}" style="width: {{th.width}}%; left: {{th.left}}%;"/>
                                                {%endfor%}
                                                <!--<hr class="blue-td" style="width: 10%; left: 20%;"/>-->
                                                <!--<hr class="green-td" style="width: 10%; left: 50%;"/>-->
                                            </div>
                                        </td>


                                        {% endfor %}

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="clear">
                        <h2 class="sub_title">Quotation Requests</h2>

                        <table class="scrollable-table table">
                            <thead>
                                <tr>
                                    <th>#Request</th>
                                    <th>Customer</th>
                                    <th>Sales Manager</th>
                                    <th>Quotation</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for it in quotation_requests %}
                                <tr>
                                    <td>#{{ it.id }}</td>
                                    <td><div class="over-height">{{ it.company.name }}</div></td>
                                    <td><div class="over-height">{{ it.sales_manager.email }}</div></td>
                                    <td><div class="over-height"><a href="{%url 'quotation' it.id%}">{%if it.status == '2'%}Edit Calculation{%else%}Make Calculation{%endif%}</a></div></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}