{% extends 'base.html' %}
{% load staticfiles %}
{% load future %}

{% block content %}
    {% include 'includes/menu.html' %}
<section>
    <div class="container-fluid active-sales">

        <div class="row">
            <div class="col-lg-12">

                <form role="form">
                    <h2 class="title">Active Sales</h2>
                    <div class="clear active-orders">
                        <h2 class="sub_title">Active Orders</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#Order</th>
                                    <th>Customer</th>
                                    <th>Status</th>
                                    <th>Sending Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders_list %}
                                <tr>
                                    <td><a href="">#{{ order.id }}</a></td>
                                    <td>{{ order.company.name }}</td>
                                    <td class="yellow-cell">{{ order.get_status_display }}</td>
                                    <td></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="">
                            <span class="next-table-cell js-next-cell"><span class="glyphicon glyphicon-chevron-right"></span></span>
                            <span class="previous-table-cell js-previous"><span class="glyphicon glyphicon-chevron-left"></span></span>

                            <table class="table table-slide">
                                <thead>
                                    <tr>
                                        <th colspan="7">06.12.14</th>
                                        <th colspan="7">07.12.14</th>
                                        <th class="active-date" colspan="7">08.12.14</th>
                                        <th colspan="7">09.12.14</th>
                                        <th colspan="7">10.12.14</th>
                                    </tr>

                                    <tr>
                                        <th>09 AM</th>
                                        <th>10 AM</th>
                                        <th>11 AM</th>
                                        <th>12 AM</th>
                                        <th>01 PM</th>
                                        <th>02 PM</th>
                                        <th>03 PM</th>

                                        <th>09 AM</th>
                                        <th>10 AM</th>
                                        <th>11 AM</th>
                                        <th>12 AM</th>
                                        <th>01 PM</th>
                                        <th>02 PM</th>
                                        <th>03 PM</th>

                                        <th class="active-date">09 AM</th>
                                        <th class="active-date">10 AM</th>
                                        <th class="active-date">11 AM</th>
                                        <th class="active-date">12 AM</th>
                                        <th class="active-date">01 PM</th>
                                        <th class="active-date">02 PM</th>
                                        <th class="active-date">03 PM</th>

                                        <th>09 AM</th>
                                        <th>10 AM</th>
                                        <th>11 AM</th>
                                        <th>12 AM</th>
                                        <th>01 PM</th>
                                        <th>02 PM</th>
                                        <th>03 PM</th>

                                        <th>09 AM</th>
                                        <th>10 AM</th>
                                        <th>11 AM</th>
                                        <th>12 AM</th>
                                        <th>01 PM</th>
                                        <th>02 PM</th>
                                        <th>03 PM</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in orders_list %}
                                    <tr>
                                        <td class="all-td-green"><hr style="width: 100%"/><hr style="width: 100%"/></td>
                                        <td class="all-td-yellow"><hr style="width: 100%"/><hr style="width: 100%"/></td>
                                        <td class="all-td-blue"><hr style="width: 100%"/><hr style="width: 100%"/></td>
                                        <td class="left-td-green"><hr style="width: 50%"/><hr style="width: 50%"/></td>
                                        <td class="left-td-yellow"><hr style="width: 50%"/><hr style="width: 50%"/></td>
                                        <td class="left-td-blue"><hr style="width: 50%"/><hr style="width: 50%"/></td>
                                        <td><hr style="width: 100%"/></td>

                                        <td class="right-td-green"><hr style="width: 50%"/><hr style="width: 50%"/></td>
                                        <td class="right-td-yellow"><hr style="width: 50%"/><hr style="width: 50%"/></td>
                                        <td class="right-td-blue"><hr style="width: 50%"/><hr style="width: 50%"/></td>
                                        <td><hr style="width: 100%"/></td>
                                        <td class="two-td-green"><hr style="width: 25%"/><hr style="width: 25%"/></td>
                                        <td class="two-td-yellow"><hr style="width: 25%"/><hr style="width: 25%"/></td>
                                        <td class="two-td-blue"><hr style="width: 25%"/><hr style="width: 25%"/></td>

                                        <td class="active-date-cell"><hr style="width: 100%"/></td>
                                        <td class="active-date-cell"><hr style="width: 100%"/></td>
                                        <td class="active-date-cell"><hr style="width: 100%"/></td>
                                        <td class="active-date-cell"><hr style="width: 100%"/></td>
                                        <td class="active-date-cell"><hr style="width: 100%"/></td>
                                        <td class="active-date-cell"><hr style="width: 100%"/></td>
                                        <td class="active-date-cell"><hr style="width: 100%"/></td>

                                        <td><hr style="width: 100%"/></td>
                                        <td><hr style="width: 100%"/></td>
                                        <td><hr style="width: 100%"/></td>
                                        <td><hr style="width: 100%"/></td>
                                        <td><hr style="width: 100%"/></td>
                                        <td><hr style="width: 100%"/></td>
                                        <td><hr style="width: 100%"/></td>

                                        <td><hr style="width: 100%"/></td>
                                        <td><hr style="width: 100%"/></td>
                                        <td><hr style="width: 100%"/></td>
                                        <td><hr style="width: 100%"/></td>
                                        <td><hr style="width: 100%"/></td>
                                        <td><hr style="width: 100%"/></td>
                                        <td><hr style="width: 100%"/></td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="clear">
                        <h2 class="sub_title">Quotation Requests</h2>

                        <table class="scrollable-table table">
                            <thead>
                                <tr>
                                    <th>#Request</th>
                                    <th>Customer</th>
                                    <th>Sales Manager</th>
                                    <th>Quotation</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for it in quotation_requests %}
                                <tr>
                                    <td>#{{ it.id }}</td>
                                    <td>{{ it.company.name }}</td>
                                    <td>{{ it.sales_manager.email }}</td>
                                    <td><a href="{% url "quotation" it.id %}">Make Calculation</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}