{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

    {% include 'includes/menu.html' %}
    {%if first_position %}

<script>
    $(document).ready(function() {
        var $table_part1 = $('.table-part1'), $table_part2 = $('.table-part2');
        var $part1 = $table_part1.find($('.part1-clone')), $part2 = $table_part2.find($('.part2-clone'));
        var clone_part1 = $part1.clone(true).show().attr('data-position', 1).removeClass('part1-clone').addClass('part1');
        var clone_part2 = $part2.clone(true).show().attr('data-position', 1).removeClass('part2-clone').addClass('part2');
        $table_part1.append(clone_part1);
        $table_part2.append(clone_part2);
        var textareas = clone_part1.find('.autosizeDrop');
        textareas.autosize();
    })
</script>

    {%endif%}
<section>
        <div class="request-for-sale container-fluid quoatation">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="title">Request #{{order.id}}<span>{{order.sending_date|date:"d.m.y"}}</span></h2>
                    <h2 class="sub-title">Description</h2>
                    <div class="col-lg-6">
                        <h5>Brief</h5>
                        <p>{{ order.order_details }}</p>
                    </div>
                    <div class="col-lg-2">
                        <h5>Attachments</h5>
                        <ol>
                            {%for elem in order.get_attachment_list%}
                            <li><a href="{{elem.attachment_file.url}}" target="_blank">{{ forloop.counter }}. {{elem.get_file_name}}</a></li>
                            {%endfor%}
                       </ol>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h2 class="sub_title">Quotation Manager</h2>
                    <form>
                        <div class="col-lg-12">
                        <table class="description">
                            <thead>
                                <tr>
                                    <td>Description</td>
                                    <td>Material</td>
                                    <td>Lamination</td>
                                    <td>Print</td>
                                    <td>Plot</td>
                                    <td>Plot price sqm</td>
                                    <td>Pcs</td>
                                    <td>x</td>
                                    <td>y</td>
                                    <td>Total m2</td>
                                    <td>Customer Type</td>
                                    <td>Material Price</td>
                                    <td>Lam Price</td>
                                    <td>Print Price</td>
                                    <td>Plot Price</td>
                                    <td>Mat. Ad. Value</td>
                                    <td>Print Added Value</td>
                                    <td>Mat. Total Price </td>
                                    <td>Graphics Time</td>
                                    <td>Production Time</td>
                                    <td>Installation Time</td>
                                </tr>
                            </thead>
                            <tbody class="table-part1">
                                <tr style="display: none" class="part1-clone">
                                    <td><textarea class="autosizeDrop position-description"></textarea></td>
                                    <td>
                                        <div class="dropdown form-group big">
                                          <button type="button" class="btn btn-default dropdown-toggle form-control select-material" data-value="{% with material_list|first as material_list %}{{ material_list.value}}{% endwith %}" data-toggle="dropdown">{{material_list|first}}<span class="caret"></span></button>
                                          <ul class="dropdown-menu" role="menu">
                                              {%for elem in material_list%}
                                            <li data-value="{{elem.value}}" data-class="material">{{elem.title}}</li>
                                              {%endfor%}
                                          </ul>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="dropdown form-group big">
                                          <button type="button" class="btn btn-default dropdown-toggle form-control select-lamination" data-value="{% with lamination_list|first as lamination_list %}{{ lamination_list.value}}{% endwith %}" data-toggle="dropdown">{{lamination_list|first}}<span class="caret"></span></button>
                                          <ul class="dropdown-menu" role="menu">
                                              {%for elem in lamination_list%}
                                            <li data-value="{{elem.value}}" data-class="lamination">{{elem.title}}</li>
                                              {%endfor%}
                                          </ul>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="dropdown form-group small">
                                          <button type="button" class="btn btn-default dropdown-toggle form-control select-print" data-value="{% with print_list|first as print_list %}{{ print_list.value}}{% endwith %}" data-toggle="dropdown">{{print_list|first}}<span class="caret"></span></button>
                                          <ul class="dropdown-menu" role="menu">
                                              {%for elem in print_list%}
                                            <li data-value="{{elem.value}}" data-class="print">{{elem.title}}</li>
                                              {%endfor%}
                                          </ul>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="dropdown form-group small">
                                          <button type="button" class="btn btn-default dropdown-toggle form-control plot-price select-plot" data-value="{% with plot_list|first as plot_list %}{{ plot_list.value}}{% endwith %}" data-toggle="dropdown">{{plot_list|first}}<span class="caret"></span></button>
                                          <ul class="dropdown-menu" role="menu">
                                              {%for elem in plot_list%}
                                            <li data-value="{{elem.value}}" data-class="plot">{{elem.title}}</li>
                                              {%endfor%}
                                          </ul>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="dropdown form-group small">
                                          <button type="button" class="btn btn-default dropdown-toggle form-control plot-price-sam select-plot-price-sam" data-value="{% with plot_price_sam|first as plot_price_sam %}{{ plot_price_sam.value}}{% endwith %}" data-toggle="dropdown">{{plot_price_sam|first}}<span class="caret"></span></button>
                                          <ul class="dropdown-menu" role="menu">
                                             {%for elem in plot_price_sam%}
                                            <li data-value="{{elem.value}}" data-class="plot_price_sam">{{elem.title}}</li>
                                              {%endfor%}
                                          </ul>
                                        </div>
                                    </td>
                                    <td><input type="text" placeholder="0"  class="total_m2_value qty"></td>
                                    <td><input type="text" placeholder="0"  class="total_m2_value x"></td>
                                    <td><input type="text" placeholder="0"  class="total_m2_value y"></td>
                                    <td class="total_m2"></td>
                                    <td>
                                        <div class="dropdown form-group middle">
                                          <button type="button" class="btn btn-default dropdown-toggle form-control select-customer-type" data-toggle="dropdown">{{costumer_type|first}}<span class="caret"></span></button>
                                          <ul class="dropdown-menu" role="menu">
                                              {%for elem in costumer_type %}
                                            <li data-value="{{elem.material}}" data-tisk="{{elem.tisk}}" data-class="costumer_type">{{elem.title}}</li>
                                              {%endfor%}
                                          </ul>
                                        </div>
                                    </td>
                                    <td class="material">{% with material_list|first as material_list %}{{ material_list.value}}{% endwith %}</td>
                                    <td class="lamination">{% with lamination_list|first as lamination_list %}{{ lamination_list.value}}{% endwith %}</td>
                                    <td class="print">{% with print_list|first as print_list %}{{ print_list.value}}{% endwith %}</td>
                                    <td class="plot-price-all"></td>
                                    <td class="costumer_type">{% with costumer_type|first as costumer_type %}{{ costumer_type.material}}{% endwith %}</td>
                                    <td class="tisk">{% with costumer_type|first as costumer_type %}{{ costumer_type.tisk}}{% endwith %}</td>
                                    <td class="total-price"></td>
                                    <td><input type="text"  class="step graphic" data-class="graphic_sam" data-cof="{{graphic_cof}}"></td>
                                    <td><input type="text"  class="step production" data-class="production_sam" data-cof="{{production_cof}}"></td>
                                    <td><input type="text"  class="step installation" data-class="installation_sam" data-cof="{{installation_cof}}"></td>
                                 </tr>
                                {%for elem in position_list%}
                                    <tr class="part1" data-position="{{forloop.counter}}">
                                    <td><textarea class="autosizeDrop position-description"> {{elem.description}}</textarea></td>
                                    <td>
                                        <div class="dropdown form-group big">
                                          <button type="button" class="btn btn-default dropdown-toggle form-control select-material" data-value="{% with material_list|first as material_list %}{{ material_list.value}}{% endwith %}" data-toggle="dropdown">{{elem.material}}<span class="caret"></span></button>
                                          <ul class="dropdown-menu" role="menu">
                                              {%for elem in material_list%}
                                            <li data-value="{{elem.value}}" data-class="material">{{elem.title}}</li>
                                              {%endfor%}
                                          </ul>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="dropdown form-group big">
                                          <button type="button" class="btn btn-default dropdown-toggle form-control select-lamination" data-value="{% with lamination_list|first as lamination_list %}{{ lamination_list.value}}{% endwith %}" data-toggle="dropdown">{{elem.lamination}}<span class="caret"></span></button>
                                          <ul class="dropdown-menu" role="menu">
                                              {%for elem in lamination_list%}
                                            <li data-value="{{elem.value}}" data-class="lamination">{{elem.title}}</li>
                                              {%endfor%}
                                          </ul>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="dropdown form-group small">
                                          <button type="button" class="btn btn-default dropdown-toggle form-control select-print" data-value="{% with print_list|first as print_list %}{{ print_list.value}}{% endwith %}" data-toggle="dropdown">{{elem.print}}<span class="caret"></span></button>
                                          <ul class="dropdown-menu" role="menu">
                                              {%for elem in print_list%}
                                            <li data-value="{{elem.value}}" data-class="print">{{elem.title}}</li>
                                              {%endfor%}
                                          </ul>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="dropdown form-group small">
                                          <button type="button" class="btn btn-default dropdown-toggle form-control plot-price select-plot" data-value="{% with plot_list|first as plot_list %}{{ plot_list.value}}{% endwith %}" data-toggle="dropdown">{{elem.plot}}<span class="caret"></span></button>
                                          <ul class="dropdown-menu" role="menu">
                                              {%for elem in plot_list%}
                                            <li data-value="{{elem.value}}" data-class="plot">{{elem.title}}</li>
                                              {%endfor%}
                                          </ul>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="dropdown form-group small">
                                          <button type="button" class="btn btn-default dropdown-toggle form-control plot-price-sam select-plot-price-sam" data-value="{% with plot_price_sam|first as plot_price_sam %}{{ plot_price_sam.value}}{% endwith %}" data-toggle="dropdown">{{elem.plot_price_sqm}}<span class="caret"></span></button>
                                          <ul class="dropdown-menu" role="menu">
                                             {%for elem in plot_price_sam%}
                                            <li data-value="{{elem.value}}" data-class="plot_price_sam">{{elem.title}}</li>
                                              {%endfor%}
                                          </ul>
                                        </div>
                                    </td>
                                    <td><input type="text" placeholder="0"  class="total_m2_value qty input-float" value="{{elem.qty}}"></td>
                                    <td><input type="text" placeholder="0"  class="total_m2_value x input-float" value="{{elem.x}}"></td>
                                    <td><input type="text" placeholder="0"  class="total_m2_value y input-float" value="{{elem.y}}"></td>
                                    <td class="total_m2">{{elem.total_m2}}</td>
                                    <td>
                                        <div class="dropdown form-group middle">
                                          <button type="button" class="btn btn-default dropdown-toggle form-control select-customer-type" data-toggle="dropdown">{{elem.costumer_type}}<span class="caret"></span></button>
                                          <ul class="dropdown-menu" role="menu">
                                              {%for elem in costumer_type %}
                                            <li data-value="{{elem.material}}" data-tisk="{{elem.tisk}}" data-class="costumer_type">{{elem.title}}</li>
                                              {%endfor%}
                                          </ul>
                                        </div>
                                    </td>
                                    <td class="material">{{elem.material_price}}</td>
                                    <td class="lamination">{{elem.lamination_price}}</td>
                                    <td class="print">{{elem.print_price}}</td>
                                    <td class="plot-price-all">{{elem.plot_price}}</td>
                                    <td class="costumer_type">{{elem.mat_ad_value}}</td>
                                    <td class="tisk">{{elem.tisk}}</td>
                                    <td class="total-price">{{elem.total_price}}</td>
                                    <td><input type="text"  class="step graphic input-float" data-class="graphic_sam" data-cof="{{graphic_cof}}" value="{{elem.graphics_time}}"></td>
                                    <td><input type="text"  class="step production input-float" data-class="production_sam" data-cof="{{production_cof}}" value="{{elem.production_time}}"></td>
                                    <td><input type="text"  class="step installation input-float" data-class="installation_sam" data-cof="{{installation_cof}}" value="{{elem.installation_time}}"></td>
                                 </tr>
                                {%endfor%}


                            </tbody>
                        </table>
                        <table class="price">
                            <thead>
                                <tr>
                                    <td>Graphics Price</td>
                                    <td>Production Price</td>
                                    <td>Installation Price</td>
                                    <td>ITEM PRICE</td>
                                </tr>
                            </thead>
                            <tbody class="table-part2">
                                <tr style="display: none" class="part2-clone">
                                    <td class="graphic_sam">0</td>
                                    <td class="production_sam">0</td>
                                    <td class="installation_sam">0</td>
                                    <td class="item-price"></td>
                                </tr>
                                {%for elem in position_list%}
                                <tr  class="part2" data-position="{{forloop.counter}}">
                                    <td class="graphic_sam">{{elem.graphics_price}}</td>
                                    <td class="production_sam">{{elem.production_price}}</td>
                                    <td class="installation_sam">{{elem.installation_price}}</td>
                                    <td class="item-price">{{elem.item_price}}</td>
                                </tr>
                                {%endfor%}
                             </tbody>
                        </table>
                        </div>
                        <div>
                            <div class="form-group">
                                <label class="sub-title">Note</label>
                                <a href="#" class="btn yellow plus-btn add-position" ><i>+</i>Add Position</a>

                                <div class="note">
                                    <textarea class="note-text">{%if order_note%}{{order_note}}{%else%}{%endif%}</textarea>
                                    <div class="form-group note-form">
                                        <label class="sub-title">Total Price:</label>
                                        <span class="item-prices-sum">{%if order_calculate.total_price%}{{order_calculate.total_price}}{%else%}0{%endif%}</span>
                                    </div>
                                    <div class="form-group">
                                        <label class="sub-title">Expences:</label>
                                        <span class="expences">{%if order_calculate.expences%}{{order_calculate.expences}}{%else%}0{%endif%}</span>
                                    </div>
                                    <div class="">
                                        <a class="open-pdf" href="{% url "view_pdf" order.id%}" target="_blank"></a>
                                        <span class="btn yellow js-modal-second" >Send quotation by email</span>
                                        <span class="btn grey  get-json">Print Quotation</span> <!--get-json-->
                                    </div>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
            <div class="row request-footer">
                <div class="col-lg-4">
                    <h3 class="sub-title">Customer contacts</h3>
                    <div>
                        <p>Name:</p>
                        <span>{{order.contact_person.name}}</span>
                    </div>
                    <div>
                        <p>Address:</p>
                        <span>{{order.company.address}}</span>
                    </div>
                    <div>
                        <p>Mob/Email:</p>
                        <span>{{order.contact_person.phone}}{%if order.contact_person.phone and order.contact_person.email%}/{%endif%}{{order.contact_person.email}}</span>
                    </div>
                </div>
                <div class="col-lg-8">
                    <h3 class="sub-title">Sales Manager</h3>
                    <div>
                        <p>Name:</p>
                        <span>{{order.sales_manager.name}}</span>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <div class="modal-open-email dis-n">
        <p>Choose email:</p>
        <div data-block="customerExist" class="hidden-block active" >
            <div class="dropdown form-group choice-company">
                <div class="btn btn-default dropdown-toggle no-shadow-input" data-toggle="dropdown">
                    <input type="text" class="send-email" name="customer_choice" value="{{order.contact_person.email}}" readonly/>
                    <span class="caret"></span>
                </div>
                <ul class="dropdown-menu" id="id_company" role="menu">
                    {% for elem in contact_person %}
                        <li><a href="#" id="{{ elem.id }}">{{ elem.email }}</a></li>
                    {%endfor%}
                    <li><a href="#" id="{{ costumer.id }}">{{ costumer.email }}</a></li>
                </ul>
            </div>
        </div>
        <span class="btn yellow get-send-json btn-send-email">Send</span>
    </div>
    <div class="modal-open-email-send dis-n">
        <p>Offer sent</p>
    </div>
    <div class="modal-open-print dis-n">
        <p>Do you want to open a printable version in a new tab?</p>
        <div>
            <a href="{% url "view_pdf" order.id%}" target="_blank" class="btn yellow redirect-manage">Yes</a>
            <a href="#" class="btn grey js-close-print">No</a>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/quotation_manager.js' %}"></script>
{% endblock %}