{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    {% include 'includes/menu.html' %}
    <script>
    var availableTags = [
            ];
            {% for elem in company_category_list %}
                availableTags.push('{{ elem.title }}');
            {% endfor %}
        $(function() {

            $( "#tags" ).autocomplete({
                source: availableTags,
                change: function(event, ui, obj) {
                    // ui.content is the array that's about to be sent to the response callback.
                    var s = ui.item;
                    console.log(s);
                    if (ui.item == obj) {
                        var category = $('#tags').val();
                        $.ajax({
                                    type: "POST",
                                    url: "/add-company-category/",
                                    dataType: 'json',
                                    data:{
                                        'csrfmiddlewaretoken': getCookie('csrftoken'),
                                        'category': category
                                    },
                                    success: function(data) {

                                        if (data.status == 'OK'){
                                            availableTags.push(category);
                                        }
                                        if (data.status == 'ERROR'){
                                        }
                                    },
                                    error: function(data) {}
                                         });
                    } else {
                        console.log('++++')
                    }
                }

            });
        });
    </script>
    <section>
        <div class="add-request container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="title">New request</h2>
                    <form role="form" action="." method="post" enctype="multipart/form-data">

                        {% csrf_token %}
                        <h2 class="sub-title">Customer Information</h2>
                        <div id="customerForm" class="customer-form clear">
                            <div class="form-group">
                                <h3>Customer</h3>
                                <label class="radio-inline">
                                    <input type="radio" name="customer" id="customerExist" checked />
                                    Existing
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="new_customer" id="customerNew" />
                                    New
                                </label>
                            </div>
                            <div data-block="customerExist" class="hidden-block active" >
                                <div class="dropdown form-group choice-company">
                                    <button type="button" class="btn btn-default dropdown-toggle form-control input-select" data-toggle="dropdown">
                                        <input type="text" name="customer_choice" readonly value="{{company_list|first}}" />
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" id="id_company" role="menu">
                                        {% for elem in company_list %}
                                            <li><a href="#" id="{{ elem.id }}">{{ elem.name }}</a></li>
                                        {%endfor%}
                                    </ul>
                                </div>
                            </div>

                            <div data-block="customerNew" class="hidden-block" >
                                <div class="clear">
                                    <div class="column">
                                        <div class="form-group">
                                            <label for="name" class="control-label">Name</label>
                                            <input type="text" id="name" class="form-control" name="customer_name">
                                        </div>
                                        <div class="form-group">
                                            <label for="name" class="control-label">Category</label>
                                            <input type="text" id="tags" class="form-control" name="customer_category">
                                        </div>
                                        <!--<div class="dropdown form-group">-->
                                        <!--<label class="control-label">Category</label>-->
                                        <!--<button type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown"><input type="text" name="company_category_choice" value="{{company_category_list|first}}" /><span class="caret"></span></button>-->
                                        <!--<ul class="dropdown-menu" role="menu">-->
                                        <!--{%for elem in company_category_list%}-->
                                            <!--<li><a href="#">{{elem.title}}</a></li>-->
                                            <!--{%endfor%}-->
                                        <!--</ul>-->
                                        <!--</div>-->
                                        <div class="form-group">
                                            <label for="website" class="control-label">Website</label>
                                            <input type="text" id="website" class="form-control" name="customer_website">
                                        </div>
                                        <div class="form-group">
                                            <label for="phone" class="control-label">Phone</label>
                                            <input type="text" id="phone" class="form-control" name="customer_phone">
                                        </div>
                                        <div class="form-group">
                                            <label for="email" class="control-label">E-mail</label>
                                            <input type="email" id="email" class="form-control" name="customer_email">
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="form-group">
                                            <label for="address" class="control-label">Address</label>
                                            <input type="text" id="address" class="form-control" name="customer_address">
                                        </div>
                                        <div class="form-group">
                                            <label for="city" class="control-label">City</label>
                                            <input type="text" id="city" class="form-control" name="customer_city">
                                        </div>
                                        <div class="form-group">
                                            <label for="state" class="control-label">State</label>
                                            <input type="text" id="state" class="form-control" name="customer_state">
                                        </div>
                                        <div class="form-group">
                                            <label for="post" class="control-label">Post Code</label>
                                            <input type="text" id="post" class="form-control" name="customer_post_code">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="description" class="control-label">Description</label>
                                    <textarea id="description" name="customer_description" class="form-control" rows="3" cols="3"></textarea>
                                </div>
                            </div>
                        </div>
                        <div id="contactPersonForm" class="customer-form clear">
                            <div class="form-group">
                                <h3>Contact Person</h3>
                                <label class="radio-inline">
                                    <input type="radio" name="contact_person" id="contactPersonExist" checked />
                                    Existing
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="new_contact_person" id="contactPersonNew" />
                                    New
                                </label>
                            </div>

                            <div data-block="contactPersonExist" id="existing-customer" class="hidden-block active existing-customer">
                                <div class="dropdown form-group">
                                    <button type="button" class="btn btn-default dropdown-toggle form-control input-select" data-toggle="dropdown">
                                        <input type="text" class="choice-contact-person-first" readonly name="choice_contact_person" value="{{contact_person_list|first}}" />
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu choice-contact-person" id="id_contact" role="menu">
                                        {%for elem in contact_person_list%}
                                            <li><a href="#" id="{{ elem.id }}">{{elem.name}}</a></li>
                                        {%endfor%}
                                    </ul>
                                </div>
                            </div>

                            <div data-block="contactPersonNew" id="new-customer" class="hidden-block existing-customer">
                                <div class="form-group">
                                    <label for="contactName" class="control-label">Name</label>
                                    <input type="text" name="contact_person_name" id="contactName" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="position" class="control-label">Position</label>
                                    <input type="text" id="position" name="contact_person_position" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="contactPhone" class="control-label">Phone</label>
                                    <input type="text" id="contactPhone" name="contact_person_phone" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="contactEmail" class="control-label">E-mail</label>
                                    <input type="email" id="contactEmail" name="contact_person_email" class="form-control">
                                </div>
                            </div>
                        </div>

                        <h2 class="sub-title">Order Details</h2>
                        <div class="attachments">
                            <div class="form-group">
                                <h3>Description</h3>
                                <textarea class="form-control" name="order_details" rows="3" cols="3"></textarea>
                            </div>
                            <h3>Attachments</h3>
                            <div class="form-group attach">
                                <div class="input-group-2 attachment">
                                    <p>
                                        <input id="add" name="file" type="file"/>
                                        <label for="add">...</label>
                                        <span></span>
                                    </p>
                                </div>
                                <div class="input-group-2">
                                    <p>
                                        <input id="add1" name="file" type="file"/>
                                        <label for="add1">...</label>
                                        <span></span>
                                    </p>
                                </div>

                            </div>
                            <a class= "add-file" href="#">Add one more</a>
                            <div class="button">
                                <button type="submit" class="btn yellow js-modal js-modal-first">Save</button>
                                <button type="reset" class="btn grey">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="{% static 'js/libs/jquery-2.1.1.min.js' %}"></script>
    <script type="application/javascript">
        $(document).ready(function(){
            {%if add_request%}
                    $( ".modal-open-add-request" ).dialog({
                        modal: true,
                        open: function(){
                            $('.ui-widget-overlay').bind('click',function(){
                                $('.modal-open-add-request').dialog('close')
                            })
                        },
                        close: function(ev, ui) { $(this).close(function(){window.location.href='/sales/'}()); }
                      });
            {%endif%}
        })

    </script>
    <div class="modal-open-add-request dis-n" style="min-height: 100px !important">
        <p>Request saved</p>
    </div>
{% endblock %}