{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    {% include 'includes/menu.html' %}
<section>
    <div class="request-for-sale container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <h2 class="title">Request #{{ r.id }}</h2>
                <h2 class="sub-title">Description <a style="font-size: 16px" href="{% url "view_pdf" r.id%}" target="_blank">Show quotation</a></h2>
                <div class="col-lg-6">
                    <p>{{ r.order_details|linebreaksbr }}</p>
                </div>
                <div class="col-lg-2">
                    <p>Attachments</p>
                    <ol>
                        {%for elem in r.get_attachment_list%}
                            <li><a href="{{elem.attachment_file.url}}" target="_blank">{{ forloop.counter }}. {{elem.get_file_name}}</a></li>
                        {%endfor%}
                    </ol>
                </div>
            </div>
            <div class="col-lg-12 request-footer">
                <h2 class="sub-title">Customer contacts</h2>
                <div>
                    <p>Name:</p>
                    <span>{{r.contact_person.name}}</span>
                </div>
                <div>
                    <p>Address:</p>
                    <span>{{r.company.address}}</span>
                </div>
                <div>
                    <p>Mob/Email:</p>
                    <span>{{r.contact_person.phone}}{% if r.contact_person.email %}/{{r.contact_person.email}}{%endif%}</span>
                </div>
            </div>
            <div class="col-lg-12">
                {% if r.status == '3' %}
                    <p>{{ r.quotation_declined }}</p>
                {% else %}
                <span class="btn yellow" onclick='location.href="{% url "update-status" r.id %}?status=4&next=/sales/"'>Quotation Accepted</span>
                <span class="btn grey" data-target="#QuotationDeclined" data-toggle="modal">Quotation Declined</span>
                {% endif %}
            </div>
        </div>
    </div>

</section>
{% endblock %}
{% block modals %}
    <div class="modal fade" id="QuotationDeclined">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Quotation Declined</h4>
                </div>
                <div class="modal-body">
                    <form class="quotation-declined-form" action="." method="post">
                        {% csrf_token %}
                        <input type="hidden" name="date" id="id_date"/>
                        <input type="hidden" id="id_cell"/>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Message:</label>
                            <textarea class="form-control textarea-note" name="message" id="id_note"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn grey" data-dismiss="modal">Close</button>
                    <button type="button" class="btn yellow save-message" >Save</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}