
{% extends 'base.html' %}
{% load future %}
{% load staticfiles %}

{% block content %}
    {% include 'includes/menu.html' %}
    <section>
        <div class="sales-list container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="title">Sales</h2>
                    <form role="form">
                        <div class="sales-table">
                            <div class="clear">
                                <h2 class="sub-title">Active sales</h2>
                                <a href="{% url 'add-request' %}" class="btn yellow plus-btn"><i>+</i>Add Request</a>
                            </div>
                            <table class="scrollable-table table w50">
                                <thead>
                                    <tr>
                                        <th>#Request</th>
                                        <th>Customer</th>
                                        <th>Status</th>
                                        <th>Sending date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in request_list %}
                                        <tr>
                                            <td class="{%if i.id in expired_list%}red-cell{%else%}{%endif%}"><a href="{% url "sales-details" i.id %}">#{{i.id}}</a></td>
                                            <td >{{i.company}}</td>
                                            <td class="success">{{i.get_status_display}}</td>
                                            <td>{{i.sending_date|date:"d.m.Y"}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="table-calendar">
                            <h2 class="sub-title">Calendar</h2>
                            <table class="table">
                                <thead>
                                    <tr><th></th></tr>
                                </thead>
                                <tbody>
                                    {% for it in hours %}
                                        <tr>
                                            <td>{{ it|time:"h:i A" }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div class="table-scroll sales-table" style="position: relative;">
                                <span class="next-table-cell next-week"><span class="glyphicon glyphicon-chevron-right next-week"></span></span>
                                <span class="previous-table-cell prev-week"><span class="glyphicon glyphicon-chevron-left prev-week"></span></span>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            {% for d in days %}
                                                <th{% if d == today %} class="castom-class"{% endif %}>{{ d|date:"d.m.y" }}</th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row in notes %}
                                        <tr>
                                            {% for cell in row %}
                                                <td>
                                                    {% if cell.2 %}
                                                    <p type="button" data-target="#newNote" data-toggle="modal" id="id_{{ cell.0|date:"dmY" }}{{ cell.1|time:"hiA" }}" onclick="init_add_note('{{ cell.0|date:"d.m.Y" }} {{ cell.1|time:"h:i A" }}', '{{ cell.2.text|linebreaksbr|escape }}', 'id_{{ cell.0|date:"dmY" }}{{ cell.1|time:"hiA" }}')">{{ cell.2.text }}</p>
                                                    <div class="tip">
                                                        <p>{{ cell.2.text|linebreaksbr }}</p>
                                                    </div>
                                                    {% else %}
                                                    <p type="button" data-target="#newNote" data-toggle="modal" data-dismiss="modal" id="id_{{ cell.0|date:"dmY" }}{{ cell.1|time:"hiA" }}" onclick="init_add_note('{{ cell.0|date:"d.m.Y" }} {{ cell.1|time:"h:i A" }}', '', 'id_{{ cell.0|date:"dmY" }}{{ cell.1|time:"hiA" }}')"></p>
                                                    {% endif %}
                                                </td>
                                            {% endfor %}
                                        </tr>
                                        {% endfor %}
{#                                        <tr>#}
{#                                            <td>#}
{#                                                <p>michael Jackson</p>#}
{#                                                <div class="tip">#}
{#                                                    <p class="tootle">Michael Jaclson</p>#}
{#                                                    <p><span>06.12.14</span> <span>12.00 AM</span></p>#}
{#                                                    <p>Need to call</p>#}
{#                                                </div>#}
{#                                            </td>#}
{#                                            <td>#}
{#                                                <p>Jeremi Jackson</p>#}
{#                                                <div class="tip">#}
{#                                                    <p class="tootle">Michael Jaclson</p>#}
{#                                                    <p><span>06.12.14</span> <span>12.00 AM</span></p>#}
{#                                                    <p>Need to call</p>#}
{#                                                </div>#}
{#                                            </td>#}
{#                                            {% for d in days %}#}
{#                                                <td><p>{{forloop.counter}}{{d}}</p></td>#}
{#                                            {% endfor %}#}
{#                                        </tr>#}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block modals %}
    <div class="modal fade" id="newNote">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">New note</h4>
                </div>
                <div class="modal-body">
                    <form>
                        {% csrf_token %}
                        <input type="hidden" name="date" id="id_date"/>
                        <input type="hidden" id="id_cell"/>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Message:</label>
                            <textarea class="form-control textarea-note" name="note" id="id_note"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn grey" data-dismiss="modal">Close</button>
                    <button type="button" class="btn yellow" onclick="send_note()">Save</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/sales.js' %}"></script>
{% endblock %}